#main-container-about {
    box-sizing: border-box;
    padding: 0px;
}

body {
    background-color: rgb(250, 250, 250);
}

.picture-about {
    height: 200px;
}

.picture-about img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.picture-about-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.map-about {
    height: 400px;
}