html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.container {
    padding: 0px;
}

#main-container {
    padding: 0px;
    margin-bottom: 190px;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
    #main-container {
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #main-container {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    #main-container {
        margin-top: 30px;
        width: 93%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 280px;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

ul {
    list-style: none;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}


/* #page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.479);
    z-index: 100500;
}

#page-preloader .spinner {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
}

#page-preloader .spinner img {
    width: 100%;
    height: 100%;
} */

#breadcrumb {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

#breadcrumb li {
    float: left;
}

#breadcrumb li:last-child a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#breadcrumb li a {
    text-decoration: none;
    color: grey;
}

@media screen and (max-width: 1200px) {
    #breadcrumb {
        margin-right: -14px;
    }
}

#layer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    box-sizing: border-box;
}

.hide-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.hide-nav.out {
    transform: translateY(-100%);
}


/* fisrt main navbar */

.wrapper-for-fisrt-navbar {
    height: 50px;
    background-color: white;
    padding: 0px;
}

.navbar-light {
    padding: 0px;
}

.navbar-brand {
    width: 280px;
    height: 55px;
    margin: 0px;
}

.logo-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 38px;
    margin-right: 0px;
    width: 820px;
}

.navbar-nav>.nav-item>.nav-link {
    color: rgb(19, 19, 19);
    font-size: 14px;
}

.navbar-nav>.nav-item>.nav-link:hover {
    color: #3f65aa;
}

.phone-for-connect a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.phone-for-connect a:hover {
    color: #3f65aa;
}


/* second main navbar */

.wrapper-for-second-navbar {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 5;
    height: 60px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.wrapper-for-second-navbar .container {
    padding: 0px;
    box-sizing: border-box;
}

.btn,
#search-input {
    height: 40px;
    text-align: center;
    border-radius: 2.5px;
    line-height: 10px;
}

#catalog-button:hover,
#catalog-button:focus,
#catalog-button:active,
#basket-pseudo-input:hover,
#basket-pseudo-input:focus,
#basket-pseudo-input:active {
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}


/* catalog on large screen */

#catalog-button:hover {
    filter: opacity(80%);
}

#catalog-button {
    background-color: white;
    color: black;
    width: 280px;
    height: 40px;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
}

#catalog-button:hover {
    background-color: rgb(250, 250, 250);
}

.new-icon-menu {
    margin-bottom: -4px;
    font-size: 20px;
}

.dropdown-toggle::after {
    content: none;
}


/* submenu */

.accordion-menu {
    width: 280px;
    border: 1px solid rgb(214, 214, 214);
    border-bottom: 0px solid rgb(214, 214, 214);
    padding: 0px;
    margin-top: -2px;
}

.accordion-menu li {
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.accordion-menu li.open .dropdownlink,
.accordion-menu li.open .dropdownlink .icons-catalog {
    color: #7ea5df;
}

.accordion-menu li.open .dropdownlink .new-icon-chevron {
    transform: rotate(180deg);
}

.dropdownlink {
    cursor: pointer;
    display: table;
    padding: 10px 10px 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    color: black;
    position: relative;
    width: 100%;
}

.dropdownlink .icons-catalog,
.dropdownlink .new-icon-chevron {
    display: table-cell;
    vertical-align: middle;
}

.dropdownlink:hover,
.dropdownlink:hover .icons-catalog,
.dropdownlink:hover .new-icon-chevron {
    color: #7ea5df;
}

.dropdownlink .icons-catalog {
    padding-right: 8px;
    color: rgb(167, 167, 167);
    font-size: 20px;
}

.submenuItems {
    display: none;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    background-color: rgb(245, 245, 245);
}

.submenuItems li {
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

.submenuItems a {
    display: block;
    color: black;
    padding: 8px 8px 8px 15px;
    width: 100%;
    box-sizing: border-box;
}

.submenuItems a:hover {
    background-color: white;
    color: #7ea5df;
    text-decoration: none;
}


/* search */

#search-input {
    height: 40px;
    width: 480px;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-right: 0px solid #d1d1d1;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    z-index: 1;
    text-align: start;
    /* border-radius: 0px; */
}

#search-input:hover,
#search-input:focus {
    outline: none;
}

#search-input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#search-input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#search-input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#search-input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#search-input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#search-input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#search-input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#search-input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#search-input::placeholder {
    color: rgb(167, 167, 167);
    font-size: 14px;
}

#search-button {
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-left: 0px solid #d1d1d1;
    display: table;
}

#search-button:hover {
    background-color: rgb(250, 250, 250);
    border-left: 1px solid #d1d1d1;
}

#search-button .new-icon-menu {
    color: rgb(167, 167, 167);
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
}

.dropdown-results {
    height: auto;
    width: 525px;
    background-color: white;
    border: 1px solid #ccc;
    border-top: 0px solid #ccc;
    display: none;
}

.dropdown-results ul {
    margin: 0px;
}

.dropdown-results ul li {
    border-bottom: 1px solid #ccc;
}

.dropdown-results ul li:last-child {
    border-bottom: 0px solid #ccc;
}

.dropdown-results ul li .wrapper-for-search-images {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.links-for-search {
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
}

.links-for-search:hover {
    text-decoration: none;
    background-color: rgb(250, 250, 250);
}

.div-in-link {
    display: flex;
    padding: 8px;
}

.search-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.name-and-categorys-search {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.categorys-for-search {
    align-self: flex-end;
    font-size: 13px;
    color: grey;
    font-weight: normal;
}

.dropdown-results-small {
    height: auto;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: 0px solid #ccc;
    display: none;
    box-sizing: border-box;
}

.dropdown-results-small ul {
    margin: 0px;
}

.dropdown-results-small ul li {
    border-bottom: 1px solid #ccc;
}

.dropdown-results-small ul li:last-child {
    border-bottom: 0px solid #ccc;
}

.dropdown-results-small ul li .wrapper-for-search-images {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}


/* personal cab */

#personal-cabinet-button {
    width: 180px;
    margin-top: 10px;
    border: 1px solid #d1d1d1;
    background-color: white;
    color: black;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#personal-cabinet-button:hover {
    background-color: rgb(250, 250, 250);
    color: black;
}


/* basket */

#basket-form a {
    text-decoration: none;
}

#basket-area {
    height: 40px;
    width: 130px;
    display: flex;
    padding: 0px;
    background-color: white;
    margin-top: 10px;
    border: 0px;
}

#basket-area:hover {
    background-color: rgb(250, 250, 250);
    border: 1px solid #ccc;
}

.cart-area {
    position: relative;
    width: 40%;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}

.cart-area .icon-cart-large {
    font-size: 40px;
    color: rgb(167, 167, 167);
    margin-right: 10px;
}

.span-for-cart-quantity {
    position: absolute;
    top: 5px;
    left: 18px;
    background-color: #ffcd30;
    width: 20px;
    height: 15px;
    border-radius: 100%;
}

#basket-count {
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.count-area {
    width: 60%;
    height: 40px;
    line-height: 40px;
    color: black;
    overflow: hidden;
}


/* basket empty */

#basket-button-empty {
    height: 40px;
    width: 130px;
    display: flex;
    padding: 0px;
    background-color: white;
    margin-top: 10px;
    border: 0px;
    border-radius: 0px;
    box-sizing: border-box;
}

.count-area-empty {
    width: 60%;
    height: 40px;
    line-height: 15px;
    display: table;
    border-left: 1px solid #ccc;
    font-size: 13px;
    box-sizing: border-box;
}

#basket-button-empty div {
    color: black;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}

#basket-button-empty .icon-cart-empty {
    color: rgb(167, 167, 167);
    font-size: 30px;
    margin-top: 5px;
}


/* navbar small */

.navbar-main-small {
    border-bottom: 1px solid #ccc;
    height: 60px;
    -ms-overflow-style: none;
    background-color: white;
    box-sizing: border-box;
}

.navbar-main-small::-webkit-scrollbar {
    width: 0;
}

#navbar-small-btn-open {
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(167, 167, 167);
    z-index: 1;
}

.navbar-brand-small {
    width: 200px;
    height: 40px;
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .navbar-brand-small {
        width: 150px;
        height: 35px;
        margin-left: 10px;
    }
    #navbar-small-btn-open {
        margin-left: 10px;
        margin-top: 5px;
    }
}

.search-wrap {
    width: 100%;
    height: 90%;
    display: none;
    background-color: white;
    box-sizing: border-box;
}

#search-small-form {
    width: 98%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}

#search-small-form .input-group input {
    border: 1px solid #d1d1d1;
    border-right: none;
}

#search-small-form .input-group input:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

#search-small-form .input-group input::placeholder {
    color: rgb(167, 167, 167);
    text-align: start;
    font-size: 14px;
}

#search-small-form-close {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    height: 38px;
}

#search-small-form-close:hover {
    background-color: rgb(250, 250, 250);
}

#search-small-form-close i {
    color: #ccc;
    font-size: 15px;
}

#icons-small {
    margin-left: auto;
    box-sizing: border-box;
}

#icons-small .new-icon {
    font-size: 25px;
    margin-right: 13px;
    color: rgb(167, 167, 167);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #icons-small .new-icon,
    #icons-small .new-icon-cart {
        margin-right: 15px;
        font-size: 18px;
    }
}

#cart-small {
    z-index: 2;
    position: relative;
}

#basket-count-small {
    position: absolute;
    top: -6px;
    left: 11px;
    font-size: 8px;
    font-weight: bold;
    color: black;
}

.new-icon-cart {
    font-size: 25px;
    margin-right: 13px;
    color: rgb(167, 167, 167);
    cursor: pointer;
}


/* sideNav */

.accordion-menu-small {
    width: 100%;
    border-bottom: 0px solid rgb(214, 214, 214);
    border-right: 0px solid rgb(214, 214, 214);
    border-top: 0px solid rgb(214, 214, 214);
    border-left: 1px solid rgb(214, 214, 214);
    padding: 0px;
    box-sizing: border-box;
}

.accordion-menu-small li.open .dropdownlink,
.accordion-menu-small li.open .dropdownlink .icons-catalog {
    color: #7ea5df;
}

.accordion-menu-small li.open .dropdownlink .new-icon-chevron {
    transform: rotate(180deg);
    color: #7ea5df;
}

.sidenav {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.5s;
    border-top: 0px solid rgb(214, 214, 214);
    border-right: .5px solid rgb(214, 214, 214);
    display: none;
    box-sizing: border-box;
}

.sidenav .dropdownlink {
    padding-left: 15px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidenav .dropdownlink .icons-catalog,
.sidenav .dropdownlink .new-icon-chevron {
    display: table-cell;
    vertical-align: middle;
}

.sidenav .dropdownlink .icons-catalog {
    padding-right: 8px;
}

.sidenav .dropdownlink:hover .icons-catalog,
.sidenav .dropdownlink:hover .new-icon-chevron,
.sidenav .dropdownlink:hover .dropdownlink {
    color: #3291cb;
}

.sidenav .new-icon-chevron {
    color: rgb(167, 167, 167);
}

.sidenav .icons-catalog {
    padding-right: 4px;
    color: rgb(167, 167, 167);
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 0px;
    right: -60px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 3000;
}

.closebtn .new-icon-close {
    color: white;
}

@media screen and (max-width: 768px) {
    .closebtn {
        right: -40px;
    }
}

.other-li-div {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

.other-li-div:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}

.links-for-li {
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
}

.links-for-li:hover {
    text-decoration: none;
    background-color: rgb(221, 221, 221);
    color: black;
}

.footer {
    border-top: .5px solid rgb(221, 220, 220);
    height: 160px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    text-transform: uppercase;
    color: rgb(73, 72, 72);
    padding-top: 20px;
}

.heading-footer {
    font-weight: bold;
    font-size: 14px;
}

.footer-requisites,
.footer-menu a {
    font-size: 12px;
}

.requisites-list {
    padding-top: 5px;
}

.footer-menu-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.footer-menu-list a {
    color: black;
    text-decoration: none;
}

.footer-menu-list a:hover {
    color: #3f65aa;
}

.footer-payment img {
    width: 40px;
    height: 40px;
}

.footer-payment .img-sber {
    width: 85px;
    height: 40px;
}

.social-list {
    padding-top: 5px;
}

.footer-social img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.footer-copyright {
    border-top: 1px solid rgb(240, 240, 240);
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 250px;
        padding-top: 0px;
    }
    .heading-footer {
        font-size: 12px;
        margin-top: 20px;
    }
    .footer-payment img {
        width: 30px;
        height: 30px;
    }
    .footer-payment .img-sber {
        width: 75px;
        height: 30px;
    }
    .social-list {
        padding-top: 0px;
    }
    .footer-social img {
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
    .footer-copyright {
        margin-top: 10px;
        padding-top: 10px;
    }
}


/* .footer-social-area {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-social-area img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.footer-menu {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.footer-menu a:hover {
    color: #3f65aa;
}

.footer-copyright {
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 200px;
        padding-top: 0px;
    }
    .footer-social-area {
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer-social-area img {
        height: 20px;
        width: 20px;
        margin-right: 0px;
    }
    .footer-menu {
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer-menu a {
        font-size: 12px;
        margin-right: 0px;
    }
    .footer-copyright {
        height: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} */

.uncorrect-info {
    background-color: rgb(255, 181, 181);
    height: 30px;
    margin-bottom: 10px;
    color: rgb(156, 32, 32);
    border-radius: 5px;
}

.uncorrect-form {
    border: 1.2px solid rgb(236, 83, 83);
    -webkit-box-shadow: 0px 0px 18px -1px rgb(236, 83, 83);
    -moz-box-shadow: 0px 0px 18px -1px rgb(236, 83, 83);
    box-shadow: 0px 0px 18px -1px rgb(236, 83, 83);
}

.label-modal {
    font-size: 18px;
    font-weight: bold;
}

.links-in-modal {
    color: #0065a3;
    font-weight: bold;
    font-size: 18px;
}

.links-in-modal:hover {
    color: #0490e7;
    text-decoration: none;
}

.enter-button {
    font-size: 18px;
    width: 250px;
    background-color: #3291cb;
    border: 1px solid #3291cb;
}

.adding-to-cart-block {
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: rgb(243, 12, 12);
}