body {
    background-color: rgb(250, 250, 250);
}

#main-container-basket {
    padding: 0px;
    box-sizing: border-box;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

h5 {
    margin-bottom: 20px;
}

#quantity-of-products {
    font-size: 13px;
    color: grey;
    margin-left: 7px;
}

.cart-item {
    border: 1px solid rgb(221, 220, 220);
    border-bottom: 0px solid rgb(221, 220, 220);
    height: 120px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.cart-item:last-child {
    border-bottom: 1px solid rgb(221, 220, 220);
}

.align-items-center {
    height: 100%;
}

.wrapper-for-img-product {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.wrapper-for-img-product img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.cart-name-and-price {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-name {
    max-width: 70%;
    overflow: hidden;
    height: 50px;
    color: black;
    font-size: 14px;
}

.product-name a {
    color: black;
    text-decoration: none;
}

.product-price {
    min-width: 30%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-left: 40px;
}

.cart-quantity-and-delete {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.quantity-block {
    height: 35px;
    width: 105px;
    box-sizing: border-box;
    padding: 0px;
}

.window-quantity {
    height: 100%;
    width: 35%;
    border: 1px solid rgb(221, 220, 220);
    text-align: center;
}

.quantity-minus,
.quantity-plus {
    height: 100%;
    width: 25%;
    text-align: center;
    border: none;
    background-color: #fff;
}

.quantity-minus:hover,
.quantity-plus:hover {
    background-color: rgb(250, 250, 250);
    transition: .5s ease-in;
}

.delete-block {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-delete img {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 768px) {
    .cart-item {
        height: 150px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .wrapper-for-img-product {
        width: 100%;
        height: 100px;
        margin-left: 0px;
    }
    .cart-name-and-price {
        height: 50px;
    }
    .product-name {
        height: 50px;
        line-height: 50px;
        font-size: 12px;
    }
    .product-price {
        font-size: 12px;
    }
    .cart-quantity-and-delete {
        justify-content: space-between;
    }
    .cart-quantity-and-delete {
        height: 50px;
    }
    .quantity-block {
        height: 35px;
    }
}

.col-for-total {
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    margin-bottom: 120px;
    width: 300px;
}

@media screen and (max-width: 992px) {
    .col-for-total {
        width: auto;
    }
}


/* .coupon-area {
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border: 1px solid rgb(221, 220, 220);
}

.code-group label {
    font-size: 12px;
}

.code-coupon {
    width: 160px;
    height: 30px;
    margin-right: 5px;
    border: 1px solid rgb(221, 220, 220);
}

.use-coupon {
    width: 100px;
    height: 30px;
    background-color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    border-radius: 0px;
    border: 2px solid #3291cb;
    color: #3291cb;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .code-coupon {
        width: 160px;
    }

    .use-coupon {
        width: 100px;
    }
}

.use-coupon:hover {
    background-color: #7ea5df;
    color: white;
    border-color: #7ea5df;
} */

.total-area {
    height: 110px;
    background-color: white;
    border: 1px solid rgb(221, 220, 220);
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-area .total-info {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    height: 68px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.total-area .btn {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding: 0px;
    border-radius: 0px;
}

@media screen and (max-width: 992px) {
    .total-area,
    .coupon-area {
        height: 90px;
    }
}

@media screen and (max-width: 992px) {
    .total-area {
        border-top: none;
    }
}


/* @media screen and (min-width: 992px) and (max-width: 1200px) {
    .coupon-area {
        border-bottom: none;
    }
    
}

@media screen and (min-width: 400px) and (max-width:992px) {
    .coupon-area {
        border-top: none;
    }

    .total-area {
        border-top: none;
        border-left: none;
    }
}

@media screen and (min-width: 400px) and (max-width:768px) {
    .coupon-area {
        border-top: none;
    }

    .total-area {
        border-top: none;
        border-left: 1px solid rgb(221, 220, 220);
    }
}

@media screen and (min-width: 1200px) {
    .total-area {
        border-top: 0px solid black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .total-area {
        border-left: none;
    }
}

@media screen and (max-width: 400px) {
    .coupon-area {
        border-top: 0px solid rgb(221, 220, 220);
    }

    .total-area {
        border-top: 0px solid rgb(221, 220, 220);
        border-left: 1px solid rgb(221, 220, 220);
    }
} */

.empty-basket-block {
    border: 1px solid rgb(221, 220, 220);
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caption-empty-basket {
    color: rgb(175, 175, 175);
}

.picture-empty-basket {
    font-size: 100px;
    color: rgb(175, 175, 175);
}

.text-empty-basket {
    font-size: 13px;
}

.tel-empty-basket {
    font-size: 20px;
    font-weight: bold;
}