body {
    background-color: rgb(250, 250, 250);
}

.main-info {
    background-color: #fff;
    border: .5px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.ul-one li {
    margin-bottom: 20px;
}

.ul-one li:last-child {
    margin-bottom: 0px;
}

.ul-two {
    margin-top: 60px;
}

.ul-two li {
    margin-bottom: 15px;
    font-size: 12px;
}

.ul-two li:last-child {
    margin-bottom: 0px;
}

