.container-fluid {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.flex-div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.fa-frown {
    font-size: 230px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
    color: grey;
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .flex-div {
        width: 100%;
        height: auto;
    }
    .fa-frown {
        font-size: 130px;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 10px;
        color: grey;
    }
}