body {
    background-color: rgb(250, 250, 250);
}

#main-container-home {
    padding: 0px;
    box-sizing: border-box;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.carousel {
    height: 300px !important;
    overflow: hidden;
}

.carousel-inner {
    overflow: visible;
}


/* .carousel-inner img {
    left: 50%;
    max-width: none !important;
    min-height: 300px;
    min-width: 100%;
    position: absolute;
    top: 200px;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
} */

.fa-chevron-left,
.fa-chevron-right {
    color: white;
    font-size: 30px;
}

.carousel-control-next {
    margin-right: -20px;
}

.carousel-control-prev {
    margin-left: -20px;
}

@media screen and (max-width: 768px) {
    .carousel {
        height: 100px !important;
        overflow: hidden;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

.home-area {
    margin-top: 20px;
    box-sizing: border-box;
}

.home-area h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 20px;
    color: rgb(90, 90, 90);
}

.home-product {
    height: 310px;
    background-color: white;
    border: 1px solid rgb(221, 220, 220);
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

.home-product:hover,
.home-product:focus {
    filter: drop-shadow(2px 2px 10px rgb(180, 180, 180));
    cursor: pointer;
}

.wrapper-img-for-home-product {
    width: 100%;
    height: 210px;
    border-bottom: 1px solid rgb(221, 220, 220);
}

.wrapper-img-for-home-product img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* .badge-for-wrapper-home {
    position: absolute;
    top: 0px;
    right: 2px;
    width: auto;
    height: 25px;
    background-color: rgb(255, 217, 0);
    border-radius: 10%;
    padding: 4px 2px 0px 2px;
    font-size: 10px;
} */

.name-for-home-product {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper-name-for-home-product {
    max-height: 55px;
    overflow: hidden;
}

.wrapper-name-for-home-product a {
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.wrapper-name-for-home-product a:hover {
    color: rgb(0, 162, 255)
}


/* .wrapper-name-for-home-product a {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    color: black;
} */

.price-for-home-product {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
}

.price-now-for-home-product {
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
}

.price-old-for-home-product {
    color: grey;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .price-now-for-home-product {
        font-size: 20px;
        padding-right: 2px;
    }
    .price-old-for-home-product {
        color: grey;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .home-product {
        height: 280px;
    }
    .wrapper-img-for-home-product {
        height: 180px;
    }
    .name-for-home-product {
        font-size: 10px;
    }
    .price-for-home-product {
        height: 40px;
        line-height: 40px;
    }
    .price-now-for-home-product {
        font-size: 15px;
        padding-right: 2px;
    }
    .price-old-for-home-product {
        color: grey;
        font-size: 12px;
    }
}