body {
    background-color: rgb(250, 250, 250);
    padding: 0px;
}

#main-container {
    padding: 0px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.summary-block {
    background-color: white;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    margin-bottom: 30px;
}

.summary-table td {
    padding: 4px;
    border: 0px solid lightgray;
}

.btn-block {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 16px;
    height: 40px;
}

.summary-block h5 {
    font-weight: bold;
    margin-top: 10px;
}

.summary-block .sum-flex {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(226, 226, 226);
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .summary-block .sum-flex {
        flex-direction: column;
        justify-content: space-evenly;
        height: 60px;
        line-height: 30px;
    }
}

.note-for-execute {
    font-size: 14px;
    color: grey;
}

.note-for-execute a {
    text-decoration: none;
    color: #2196F3;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .summary-block {
        font-size: 13px;
        top: 70px;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .summary-block {
        height: auto;
    }
}

.order-area {
    background-color: white;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.21);
}

.order-area h5 {
    font-weight: 900;
}

.col-form-label {
    color: rgb(121, 121, 121);
}

.col-form-label span {
    color: red;
    margin-right: 5px;
}

input.form-control {
    border-radius: 0px;
    border: .5px solid rgb(221, 221, 221);
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .date-input {
        margin-bottom: 5px;
    }
}

input.form-control::placeholder {
    color: rgb(167, 167, 167);
    text-align: start;
    font-size: 14px;
}

.note-for-take {
    font-size: 14px;
    color: grey;
}

.note-for-take a {
    text-decoration: none;
    color: #2196F3;
}

.note-for-take a:hover {
    text-decoration: none;
    color: #2196F3;
}

@media screen and (max-width: 768px) {
    .note-for-take {
        margin-top: 20px;
        margin-left: 10px;
    }
}

.info-delivery-punkt {
    color: rgb(172, 172, 172);
    font-size: 12px;
    margin-bottom: 10px;
    font-style: italic;
}


/* checkbox */

input[type=checkbox].checkbox-send-message {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].checkbox-send-message+label.label-send-message {
    padding-left: 35px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 20px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 15px;
    color: black;
}

input[type=checkbox].checkbox-send-message:checked+label.label-send-message {
    background-position: 0 -20px;
    background-size: 20px;
}

label.label-send-message {
    background-image: url(https://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.city-area {
    position: relative;
    margin-bottom: 0px;
}

.city-input {
    text-align: left;
}

.address-error {
    color: red;
    text-align: center;
    margin-top: -10px;
    border-radius: 2px;
    margin-bottom: 10px;
    display: none;
}


/* способ доставки */

.wrapper-cards-delivery {
    margin-top: 10px;
    display: flex;
}

.label-delivery {
    text-align: left;
    width: 150px;
    height: 100px;
    margin-right: 20px;
}

.delivery-cards {
    height: 100%;
    width: 100%;
    padding: 5px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-cdek {
    width: 110%;
    padding-bottom: 5px;
}

.img-selfdel {
    width: 40%;
    height: 50%;
    margin-top: 12px;
    margin-right: 5px;
}

.img-ruspost {
    width: 100%;
    height: 95%;
}

@media screen and (max-width: 768px) {
    .img-cdek {
        width: 130%;
        height: 80%;
    }
    .img-selfdel {
        width: 70%;
        height: 50%;
        margin-top: 12px;
        margin-right: 5px;
    }
    .img-ruspost {
        width: 100%;
        height: 70%;
    }
}

.label-delivery>input {
    visibility: hidden;
    position: absolute;
}

.label-delivery>input:checked+div {
    background-color: white;
    border: 2px solid #2196F3;
}

.cdek-area {
    display: block;
    margin-top: 10px;
}

.self-delivery-area {
    display: none;
    height: 120px;
    margin-top: 10px;
    border: .5px solid rgb(221, 221, 221);
}

@media screen and (max-width: 768px) {
    .self-delivery-area {
        height: 220px;
    }
}


/* radio */

.container-radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: -6px;
    margin-right: 10px;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.container-radio:hover input~.checkmark {
    background-color: #ccc;
}

.container-radio input:checked~.checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked~.checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2196F3;
}


/* cdek area */

.self-delivery-cdek {
    display: none;
    height: 120px;
    margin-top: 10px;
    border: .5px solid rgb(221, 221, 221);
}

.wrapper-for-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.self-del-cdek-wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.self-del-cdek-wrapper div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}

.self-del-cdek-wrapper div div {
    width: 60%;
}

.self-del-cdek-wrapper div div:first-child {
    width: 40%;
    color: grey;
}

.wrapper-for-button {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn-self-del-cdek {
    height: 30px;
    width: 130px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    border-radius: 5px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .self-delivery-cdek {
        display: none;
        height: 220px;
        margin-top: 10px;
        border: .5px solid rgb(221, 221, 221);
    }
    .wrapper-for-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .self-del-cdek-wrapper {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .self-del-cdek-wrapper div {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 13px;
    }
    .self-del-cdek-wrapper div div {
        width: 60%;
    }
    .self-del-cdek-wrapper div div:first-child {
        width: 40%;
        margin-right: 5px;
        color: grey;
    }
    .wrapper-for-button {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .btn-self-del-cdek {
        height: 30px;
        width: 130px;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        border-radius: 5px;
        text-transform: uppercase;
    }
}

.delivery-cdek-to-apart {
    display: block;
}

.info-del-cdek-block {
    margin-top: 10px;
    margin-bottom: 5px;
    border: .5px solid rgb(221, 221, 221);
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.date-del {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date-del div:first-child,
.price-del div:first-child {
    width: 35%;
    color: grey;
}

.date-del div:last-child,
.price-del div:last-child {
    width: 70%;
}

.price-del {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .price-del,
    .date-del {
        font-size: 10px;
    }
    .date-del div:first-child,
    .price-del div:first-child {
        width: 50%;
        color: grey;
    }
    .date-del div:last-child,
    .price-del div:last-child {
        width: 50%;
    }
}

.delivery-price-area {
    display: none;
    margin-top: 10px;
    color: grey;
}


/* comments */

.textarea-alert {
    font-size: 13px;
    color: grey;
}

textarea {
    border-radius: 0px;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
    min-height: 40px;
    max-height: 100px;
}


/* payment */

.wrapper-cards {
    margin-top: 10px;
    display: flex;
}

.label-banks {
    text-align: left;
    width: 150px;
    height: 100px;
    margin-right: 20px;
}

.bank-cards {
    height: 100%;
    width: 100%;
    padding: 5px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-paycart {
    width: 60px;
    height: 50px;
}

.img-bankcard {
    width: 60px;
    height: 57px;
}

.label-banks>input {
    visibility: hidden;
    position: absolute;
}

.label-banks>input:checked+div {
    background-color: white;
    border: 2px solid #2196F3;
}

.note-for-payment-two {
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
    color: grey;
}

.note-for-payment {
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .label-banks {
        text-align: left;
        width: 200px;
        height: 100px;
        margin-right: 20px;
    }
    .bank-cards {
        font-size: 9px;
    }
    .img-paycart {
        width: 75%;
        height: 55%;
    }
    .img-bankcard {
        width: 75%;
        height: 55%;
    }
}


/* order done page */

.order-done-area {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 550px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.wrapper-order-done {
    width: 100%;
    text-align: center;
}

.order-done-area h1 {
    font-weight: bold;
    margin-bottom: 50px;
}

.p-order-done {
    font-size: 14px;
}

.order-number {
    color: red;
    font-weight: bold;
}

.order-done-area .btn {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .order-done-area {
        height: 385px;
    }
    .order-done-area h1 {
        font-size: 30px;
    }
}


/* order cancelled page */

#delivery-details-block {
    display: none;
}

.loader {
    display: none;
    position: relative;
    left: 45%;
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}