body {
    background-color: rgb(250, 250, 250);
}

.main-info {
    background-color: #fff;
    border: .5px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

ul.list-unstyled li {
    margin-bottom: 20px;
}

ul.list-unstyled li:last-child {
    margin-bottom: 0px;
}