html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.container-table {
    display: table;
    width: 30%;
    height: 100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#pseudo-modal {
    background-color: white;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 5px;
    height: auto;
    padding-bottom: 10px;
}

h5 {
    color: rgb(22, 22, 22);
    margin-top: 15px;
    font-weight: normal;
    text-align: center;
    font-weight: 500;
}

.inputs-block {
    height: 250px;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 30px;
}

.pseudo-input {
    border-radius: 0px;
}

.span-in-label {
    font-size: 12px;
    color: rgb(172, 172, 172);
    margin-left: 5px;
}

.pay-button {
    background-color: #3291cb;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pay-button:hover {
    background-color: #6aa4c9;
}

.notes-for-pay {
    color: grey;
    font-size: 14px;
}

.notes-for-pay a {
    color: #3291cb;
}

.notes-for-pay a:hover {
    color: #3291cb;
    text-decoration: none;
}

.privacy-info {
    color: grey;
    font-size: 12px;
}