#main-container-product {
    padding: 0px;
}

body {
    background-color: rgb(250, 250, 250);
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

#caption-product {
    margin-bottom: 25px;
}

.row-for-picture-and-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picture-area {
    width: 72%;
}

.picture-of-the-product {
    position: relative;
    height: 470px;
    background-color: white;
    margin-bottom: 20px;
    border: .5px solid rgb(221, 220, 220);
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .picture-area {
        width: 66%;
    }
}

@media screen and (max-width: 992px) {
    .row-for-picture-and-details {
        flex-direction: column;
    }
    .picture-area {
        width: 100%;
    }
}


/* .badge-for-img-product {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 30px;
    background-color: #ffcd30;
    font-size: 12px;
    border-radius: 2.5px;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
} */

.wrapper-for-the-picture {
    height: 99%;
    margin: 1px;
}


/* @media screen and (max-width: 768px) {
    .picture-of-the-product {
        height: auto;
    }
    .wrapper-for-the-picture {
        height: auto;
    }
} */

.picture-of-the-product img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.new-icon-control {
    color: grey;
    font-size: 30px;
    margin-top: -10px;
}

.carousel-control-prev {
    margin-left: -10px;
}

.carousel-control-next {
    margin-right: -10px;
}


/* .pictures-of-the-product {
    height: auto;
    background-color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.wrapper-for-small-pictures {
    margin: 5px;
    height: 60px;
    width: 60px;
    background-color: white;
    border: 5px solid rgb(221, 220, 220);
    overflow: hidden;
}

.wrapper-for-small-pictures img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.wrapper-for-small-pictures:hover {
    cursor: pointer;
    border: 5px solid rgb(240, 217, 16);
} */

.details-area {
    height: 470px;
    width: 300px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.colorful-span {
    color: rgb(70, 197, 70);
    margin-left: 5px;
}

.available-status {
    color: rgb(70, 197, 70);
    margin-left: 5px;
}

.unvaliable-status {
    color: red;
    display: none;
    margin-left: 5px;
}

.details-info-area {
    height: 290px;
    padding: 15px;
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    border: .5px solid rgb(221, 220, 220);
    overflow: hidden;
}

.price-and-buttons-area {
    border: .5px solid rgb(221, 220, 220);
    border-top: none;
    background-color: #fff;
    padding: 15px;
    height: 180px;
}

.price-product {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: 10px;
}

.buttons-area {
    height: 85px;
}

.second-buttons {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.btn-add-to-basket {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    padding: 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(255, 210, 64);
}

.btn-add-to-basket::after {
    content: "В корзину";
}

.btn-add-to-basket:hover {
    background-color: rgb(255, 210, 64);
}

.active-add-to-basket {
    background: rgb(255, 210, 64);
}

.active-add-to-basket::after {
    content: "В корзине";
}

.first-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 35px;
    border-bottom: 1px solid #ccc;
}

.btn-instant-buy,
.btn-compare {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.btn-instant-buy i,
.btn-compare i {
    margin-right: 5px;
}

.btn-instant-buy::after {
    content: "В избранное";
}

.btn-instant-buy:hover,
.btn-compare:hover {
    font-weight: bold;
    text-decoration: none;
}

.active-instant-buy {
    color: black;
}

.active-instant-buy::after {
    content: "В избранном";
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .details-area {
        height: 165px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .details-info-area {
        width: 50%;
        height: 165px;
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 0px;
        background-color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        border: .5px solid rgb(221, 220, 220);
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .price-and-buttons-area {
        height: 165px;
        width: 50%;
        border: .5px solid rgb(221, 220, 220);
        border-left: none;
        background-color: #fff;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    .price-product {
        align-self: center;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        margin-bottom: 5px;
    }
    .buttons-area {
        font-family: 'Roboto Condensed', sans-serif;
        height: 85px;
    }
    .second-buttons {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .btn-add-to-basket {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        border: none;
        border-radius: 2px;
        background-color: #fff;
        padding: 0px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: rgb(255, 210, 64);
        font-family: 'Open Sans', sans-serif;
    }
    .btn-add-to-basket::after {
        content: "В корзину";
    }
    .btn-add-to-basket:hover {
        background-color: rgb(255, 210, 64);
    }
    .active-add-to-basket {
        background: rgb(255, 210, 64);
    }
    .active-add-to-basket::after {
        content: "В корзине";
    }
    .first-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 35px;
        border-bottom: 1px solid #ccc;
    }
    .btn-instant-buy,
    .btn-compare {
        font-size: 14px;
        color: black;
        text-decoration: none;
    }
    .btn-instant-buy i,
    .btn-compare i {
        margin-right: 5px;
    }
    .btn-instant-buy::after {
        content: "В избранное";
    }
    .btn-instant-buy:hover,
    .btn-compare:hover {
        font-weight: bold;
        text-decoration: none;
    }
    .active-instant-buy {
        color: black;
    }
    .active-instant-buy::after {
        content: "В избранном";
    }
}

@media screen and (max-width: 768px) {
    .details-area {
        height: 315px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .details-info-area {
        width: 100%;
        height: 130px;
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 20px;
        background-color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 12px;
        border: .5px solid rgb(221, 220, 220);
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .price-and-buttons-area {
        height: 165px;
        width: 100%;
        border: .5px solid rgb(221, 220, 220);
        background-color: #fff;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    .price-product {
        align-self: center;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        margin-bottom: 5px;
    }
    .buttons-area {
        font-family: 'Roboto Condensed', sans-serif;
        height: 85px;
    }
    .second-buttons {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .btn-add-to-basket {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        border: none;
        border-radius: 2px;
        background-color: #fff;
        padding: 0px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: rgb(255, 210, 64);
        font-family: 'Open Sans', sans-serif;
    }
    .btn-add-to-basket::after {
        content: "В корзину";
    }
    .btn-add-to-basket:hover {
        background-color: rgb(255, 210, 64);
    }
    .active-add-to-basket {
        background: rgb(255, 210, 64);
    }
    .active-add-to-basket::after {
        content: "В корзине";
    }
    .first-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 35px;
        border-bottom: 1px solid #ccc;
    }
    .btn-instant-buy,
    .btn-compare {
        font-size: 14px;
        color: black;
        text-decoration: none;
    }
    .btn-instant-buy i,
    .btn-compare i {
        margin-right: 5px;
    }
    .btn-instant-buy::after {
        content: "В избранное";
    }
    .btn-instant-buy:hover,
    .btn-compare:hover {
        font-weight: bold;
        text-decoration: none;
    }
    .active-instant-buy {
        color: black;
    }
    .active-instant-buy::after {
        content: "В избранном";
    }
}


/* @media screen and (min-width: 768px) and (max-width: 992px) {
    .row-for-picture-and-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .picture-area {
        width: 100%;
    }
    .details-area {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 0px;
        padding: 5px;
    }
    .price-and-available-area {
        height: 85px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 16px;
        order: 2;
        border: none;
        align-self: flex-start;
    }
    .price-product {
        font-size: 25px;
        margin-top: 10px;
    }
    .delivery-area {
        height: auto;
        width: 50%;
        font-size: 14px;
        order: 3;
        border: none;
        border-right: .5px solid rgb(221, 220, 220);
    }
    .info-area {
        padding-top: 5px;
        height: auto;
        width: 50%;
        font-size: 14px;
        order: 1;
        border: none;
        border-right: .5px solid rgb(221, 220, 220);
    }
    .buttons-area {
        width: 50%;
        height: 100px;
        order: 4;
        align-self: flex-end;
    }
    .btn-instant-buy,
    .btn-compare {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    .btn-instant-buy {
        margin-right: 2px;
    }
    .btn-instant-buy i,
    .btn-compare i {
        margin-right: 2px;
    }
}

@media screen and (max-width: 768px) {
    .row-for-picture-and-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .picture-area {
        width: 100%;
    }
    .details-area {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 0px;
        padding: 5px;
    }
    .price-and-available-area {
        height: 85px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 16px;
        order: 3;
        border: none;
        align-self: flex-start;
    }
    .price-product {
        font-size: 25px;
        margin-top: 10px;
    }
    .delivery-area {
        height: auto;
        width: 50%;
        font-size: 14px;
        order: 2;
        border: none;
        border-right: .5px solid rgb(221, 220, 220);
    }
    .info-area {
        padding-top: 5px;
        height: auto;
        width: 50%;
        font-size: 14px;
        order: 1;
        border: none;
        border-right: .5px solid rgb(221, 220, 220);
    }
    .buttons-area {
        width: 50%;
        height: 100px;
        order: 4;
        align-self: flex-end;
    }
    .btn-instant-buy,
    .btn-compare {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    .btn-instant-buy {
        margin-right: 2px;
    }
    .btn-instant-buy i,
    .btn-compare i {
        margin-right: 2px;
    }
} */

#desc-tab,
#feature-tab {
    color: black;
}


/* description */

.description-of-the-product {
    background-color: white;
    height: auto;
    border: .5px solid rgb(221, 220, 220);
    border-top: 0px solid rgb(221, 220, 220);
    padding-bottom: 10px;
}

.desc-list {
    height: auto;
    padding: 15px;
    margin-bottom: 0px;
}

.desc-list h5 {
    margin-left: 10px;
    margin-bottom: 15px;
}

.desc-list ul {
    margin-left: -12px;
    list-style-type: disc;
    font-size: 12px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

@media screen and (max-width: 768px) {
    .desc-list ul {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.desc-list ul li {
    padding-bottom: 5px;
}

.desc-text {
    height: auto;
    padding: 25px;
    font-size: 14px;
}


/* feature */

.feature {
    height: auto;
    background-color: white;
    border: .3px solid rgb(224, 224, 224);
    border-top: 0px solid rgb(221, 220, 220);
    padding: 25px;
}

.feature .main-capture {
    margin-bottom: 20px;
}

.features-area {
    margin-top: 10px;
    margin-bottom: 20px;
}

.capture-features {
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.col-for-features-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

@media screen and (max-width: 1200px) {
    .col-for-features-list {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.feature-item {
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .feature-item {
        font-size: 14px;
    }
}

.feature-dots {
    overflow: hidden;
    color: #d8d8d8;
}

.feature-dots:after {
    content: "..........................................................................................................................................................................................................................................................................................";
    color: #ccc;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.feature-name {
    white-space: nowrap;
}

.feature-data {
    white-space: nowrap;
    text-align: right;
}

@media screen and (max-width: 500px) {
    .feature-item {
        display: flex;
        justify-content: space-between;
    }
    .feature-dots:after {
        content: "";
        color: #ccc;
        display: block;
        white-space: nowrap;
        overflow: hidden;
    }
    .feature-name {
        white-space: normal;
        text-align: left;
        max-width: 70px;
    }
    .feature-data {
        white-space: normal;
        text-align: right;
    }
}