body {
    background-color: rgb(245, 245, 245);
}

#main-container {
    padding: 0px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

#caption-product {
    margin-bottom: 20px;
}

#quanity-products {
    margin-left: 5px;
    font-size: 13px;
    color: rgb(160, 160, 160);
}

#category-sorting-small-row {
    margin-bottom: 10px;
}

.category-sorting-small {
    font-size: 14px;
    background-color: white;
    height: 40px;
    box-sizing: border-box;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.category-sorting-small:hover {
    text-decoration: none;
}

.category-sorting-small i {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 11px;
    color: rgb(172, 172, 172);
}

.slide-block-categorys-btn {
    border: .5px solid rgb(214, 214, 214);
}

.slide-block-filters-btn {
    border: .5px solid rgb(214, 214, 214);
    border-left: none;
}


/* slideblocks */

#slide-block-categorys {
    display: none;
}

#slide-block-filters {
    display: none;
}


/* filters small */

.ul-filters-small {
    overflow: scroll;
}


/* .ul-filters-small li:last-child {
    background-color: red;
} */

.filters-ul {
    margin: 0px;
}

.filters-ul li {
    height: 32.5px;
    line-height: 32.5px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: black;
}

.filters-ul li:hover {
    color: #3291cb;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

.filters-ul li:last-child {
    border-bottom: 0px solid #ccc;
}


/* categorys small */

.ul-categorys-small {
    margin: 0px;
    height: auto;
}

.ul-categorys-small li {
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
}

.ul-categorys-small li a {
    display: block;
    height: 100%;
    color: black;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.ul-categorys-small li a:hover {
    text-decoration: none;
    color: #3291cb;
}

.active-category-small a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.child-categorys-small a {
    margin-left: 30px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.quantity-categorys-small {
    font-size: 12px;
    color: grey;
    margin-left: 6px;
}


/* general style category and filters small */

.accordion-menu-small {
    width: 100%;
    height: 100%;
    border-bottom: 0px solid rgb(214, 214, 214);
    border-right: 0px solid rgb(214, 214, 214);
    border-top: 0px solid rgb(214, 214, 214);
    border-left: 1px solid rgb(214, 214, 214);
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.accordion-menu-small li.open .dropdownlink,
.accordion-menu-small li.open .dropdownlink .icons-catalog {
    color: #7ea5df;
}

.accordion-menu-small li.open .dropdownlink .new-icon-chevron {
    transform: rotate(180deg);
    color: #7ea5df;
}

#slide-block-categorys,
#slide-block-filters {
    height: 100%;
    width: 85%;
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
    background-color: white;
    transition: 0.5s;
    border-top: 0px solid rgb(214, 214, 214);
    border-right: .5px solid rgb(214, 214, 214);
    display: none;
}

@media screen and (max-width: 768px) {
    .sorting-small-list {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #slide-block-categorys,
    #slide-block-filters {
        width: 60%;
    }
}

#slide-block-filters .dropdownlink {
    padding-left: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#slide-block-categorys .dropdownlink {
    padding-left: 15px;
    width: 100%;
}

.div-end {
    display: flex;
}

.chevron-icon-small {
    margin-top: 5px;
    margin-left: 5px;
}


/* #slide-block-categorys .dropdownlink .icons-catalog,
#slide-block-categorys .dropdownlink .new-icon-chevron,
#slide-block-filters .dropdownlink .icons-catalog,
#slide-block-filters .dropdownlink .new-icon-chevron {
    display: table-cell;
    vertical-align: middle;
} */

#slide-block-filters .dropdownlink .icons-catalog,
#slide-block-categorys .dropdownlink .icons-catalog {
    padding-right: 8px;
}

#slide-block-filters .dropdownlink:hover .icons-catalog,
#slide-block-filters .dropdownlink:hover .new-icon-chevron,
#slide-block-filters .dropdownlink:hover .dropdownlink,
#slide-block-categorys .dropdownlink:hover .icons-catalog,
#slide-block-categorys .dropdownlink:hover .new-icon-chevron,
#slide-block-categorys .dropdownlink:hover .dropdownlink {
    color: #3291cb;
}

#slide-block-categorys .new-icon-chevron,
#slide-block-filters .new-icon-chevron {
    color: rgb(167, 167, 167);
}

#slide-block-categorys .icons-catalog,
#slide-block-filters .icons-catalog {
    padding-right: 4px;
    color: rgb(167, 167, 167);
    font-size: 20px;
}

#slide-block-filters .closebtn-filters,
#slide-block-categorys .closebtn-category {
    position: absolute;
    top: 0px;
    left: -60px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 3000;
}

@media screen and (max-width: 768px) {
    #slide-block-filters .closebtn-filters,
    #slide-block-categorys .closebtn-category {
        left: -40px;
    }
}

#slide-block-categorys .closebtn-category .new-icon-close,
#slide-block-filters .closebtn-filters .new-icon-close {
    color: white;
}

.wrapper-for-apply-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-top: 20px;
}


/* categorys large */

.categorys-large {
    height: auto;
    width: 100%;
    background-color: white;
    border: 1px solid#ccccccb5;
    margin-bottom: 20px;
    padding: 10px;
}

@media screen and (max-width: 1200px) {
    .categorys-large {
        display: none;
    }
}

.ul-categorys {
    margin: 0px;
    margin-left: 15px;
    overflow: hidden;
}

.ul-categorys li a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.ul-categorys li a:hover {
    text-decoration: none;
    color: #3291cb;
}

.active-category a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.child-categorys a {
    margin-left: 10px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.quantity-categorys {
    font-size: 10px;
    color: grey;
}


/* filters large */

#category-large-other {
    padding: 0px;
}

@media screen and (max-width: 1200px) {
    #category-large-other {
        display: none;
    }
}

.accordion-menu-category {
    padding: 0px;
    width: 100%;
}

.accordion-menu-category li {
    width: 100%;
    background-color: #fff;
}

.dropdownlink-category div {
    width: 90%;
    overflow: hidden;
}

.accordion-menu-category li.open .dropdownlink-category {
    color: #3291cb;
}

.accordion-menu-category li.open .dropdownlink-category .new-icon-chevron {
    transform: rotate(180deg);
}

.accordion-menu-category li:first-child .dropdownlink-category {
    border-top: 1px solid #ccc;
}

.dropdownlink-category {
    min-height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-top: 0px solid #000;
    color: #212121;
    position: relative;
    overflow: hidden;
}

.dropdownlink-category:hover {
    color: #3291cb;
}

.dropdownlink-category .new-icon-chevron {
    position: absolute;
    top: 17px;
    right: 10px;
}

.submenuItems-category {
    display: none;
    height: auto;
}

.submenuItems-category li {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
    margin-left: 0px;
    width: 100%;
    height: auto;
}

.submenuItems-category li:hover {
    background-color: rgb(245, 245, 245);
}

.submenuItems-category li:last-child {
    border-bottom: 1px solid #ccc;
}

.submenuItems-category a:hover {
    background-color: #3291cb;
    color: #fff;
    text-decoration: none;
}


/* price filter */

.range-div {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-inputs {
    height: 30px;
    width: 90px;
    background: #fff;
    border: 1px solid #d1d1d1;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    z-index: 1;
    border-radius: 3px;
    font-size: 10px;
}

.line-between-inputs {
    background-color: #ccc;
    width: 20px;
    height: 1px;
}

.line-between-spans {
    color: black;
    width: 10px;
    height: 1px;
    margin-left: 2px;
    margin-right: 2px;
}

#color-filter li .form-check {
    padding: 5px 0px 5px 45px;
}

.cur-price {
    margin-left: 5px;
}


/* checkbox  */

.checkbox-div {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
}

.checkbox-div:hover {
    cursor: pointer;
}

.quantity-checkbox {
    font-size: 10px;
    color: grey;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 35px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 20px;
    font-size: 13px;
    cursor: pointer;
    color: black;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -20px;
    background-size: 20px;
}

label.css-label {
    background-image: url(https://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* main content */

#main-content {
    padding: 0px;
}

#sorting-large {
    height: 50px;
    width: 100%;
    line-height: 50px;
    border: 1px solid #ccccccb5;
    margin: 0px;
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    #sorting-large {
        display: none;
    }
}

#found-products {
    width: 280px;
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 46px;
}

#sorting-popularity {
    width: 560px;
    border-left: 1px solid #ccc;
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 30px;
}

.sorting-popularity-menu {
    width: 596px;
    height: 100px;
    border-radius: 0px;
    border-top: 0px;
    margin-top: 0px;
    -webkit-box-shadow: 0px 5px 6px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 6px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 6px 5px rgba(0, 0, 0, 0.2);
    padding: 0px;
}

.sorting-popularity-menu ul {
    height: 100%;
    margin: 0px;
}

.sorting-popularity-menu ul li {
    height: 32.5px;
    line-height: 32.5px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: black;
}

.sorting-popularity-menu ul li:hover {
    color: #3291cb;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

.sorting-popularity-menu ul li:last-child {
    border-bottom: 0px solid #ccc;
}


/* products */

.products-main-list {
    background-color: white;
    margin: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccccccb5;
}

.products-main-list:hover,
.products-main-list:focus {
    filter: drop-shadow(2px 2px 10px rgb(180, 180, 180));
}

.picture-of-products {
    text-align: center;
    position: relative;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .picture-of-products {
        height: 200px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .picture-of-products {
        height: 275px;
    }
}

@media screen and (min-width: 1200px) {
    .picture-of-products {
        height: 230px;
    }
}

@media screen and (max-width: 768px) {
    .picture-of-products {
        height: 150px;
    }
}

.picture-of-products img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* .badge-for-img-products {
    box-sizing: border-box;
    padding-top: 6px;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 60px;
    height: 30px;
    background-color: #ffcd30;
    font-size: 12px;
    border-radius: 2.5px;
} */


/* info of products */

.info-of-products {
    box-sizing: border-box;
    height: 215px;
    padding: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .info-of-products {
        height: 300px;
    }
}

.caption-of-products {
    height: 50px;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.caption-of-products a {
    color: black;
    text-decoration: none;
}

.caption-of-products a:hover {
    color: #50a8df;
}

.info-list-of-products {
    margin-top: 5px;
    height: 150px;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    padding: 0px;
    color: grey;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .info-list-of-products {
        display: none;
    }
    .info-of-products {
        height: 80px;
    }
}

@media screen and (max-width: 992px) {
    .info-list-of-products {
        display: none;
    }
    .info-of-products {
        height: 60px;
    }
    .country-of-products {
        display: none;
    }
}

.info-list-of-products li::before {
    content: "-";
    display: inline-block;
    width: 10px;
    margin-right: -4px;
}

@media screen and (max-width: 768px) {
    .caption-of-products {
        font-size: 15px;
    }
    .country-of-products,
    .info-list-of-products {
        display: none;
    }
    .info-of-products {
        height: 60px;
        margin: 0px;
    }
}


/* prices of products */

.prices-of-products {
    width: 100%;
}

.flex-up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    padding: 0px;
}

.flex-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border-top: 1px solid rgb(230, 230, 230);
    overflow: hidden;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-add-to-basket {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    background-color: rgb(255, 210, 64);
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

.icon-cart-list {
    font-size: 30px;
}

#load-error-div {
    display: none;
}

.btn-add-to-basket:after {
    content: "В корзину";
}

.btn-add-to-basket:hover {
    color: black;
    text-decoration: none;
}

.active-add-to-basket {
    background: rgb(255, 210, 64);
}

.active-add-to-basket::after {
    content: "В корзине";
}

.btn-instant-buy,
.btn-compare {
    font-size: 12px;
    color: grey;
    text-decoration: none;
}

.btn-instant-buy i,
.btn-compare i {
    margin-right: 5px;
}

.btn-instant-buy::after {
    content: "В избранное";
}

.btn-compare::after {
    content: "В сравнение";
}

.btn-instant-buy:hover,
.btn-compare:hover {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.active-instant-buy {
    color: black;
}

.active-instant-buy::after {
    content: "В избранном";
}

@media screen and (max-width: 768px) {
    .btn-instant-buy,
    .btn-compare {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    .btn-instant-buy i,
    .btn-compare i {
        margin-right: 2px;
        font-size: 14px;
    }
    .prices-of-products {
        margin-top: 0px;
    }
    .btn-instant-buy::after {
        content: none;
    }
    .active-instant-buy::after {
        content: none;
    }
    .btn-compare::after {
        content: none;
    }
}

@media screen and (max-width: 1200px) {
    .btn-instant-buy,
    .btn-compare {
        font-size: 14px;
        color: black;
        text-decoration: none;
    }
    .btn-instant-buy {
        margin-right: 2px;
    }
    .btn-instant-buy i,
    .btn-compare i {
        margin-right: 2px;
    }
    .prices-of-products {
        margin-top: 0px;
    }
}

.wrapper-for-price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.price-of-products {
    font-size: 30px;
    font-weight: bold;
}


/* .price-of-products-old {
    font-size: 20px;
    color: rgb(167, 167, 167);
    margin-left: 10px;
} */

@media screen and (max-width: 992px) {
    .btn-add-to-basket:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        content: "\f217";
        color: #fff;
        margin-left: 30%;
    }
    .active-add-to-basket::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        content: "\f217";
        background-color: rgb(255, 210, 64);
        color: rgb(185, 185, 185);
    }
    .prices-of-products {
        height: 90px;
    }
    .flex-down {
        height: 40px;
        line-height: 40px;
    }
    .price-of-products {
        font-size: 18px;
    }
    .price-of-products-old {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .price-of-products {
        font-size: 16px;
    }
    .price-of-products-old {
        font-size: 14px;
    }
}

#product-div-for-render-js {
    display: none;
}

.empty-product-block {
    border: 1px solid rgb(221, 220, 220);
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caption-empty-product {
    color: rgb(175, 175, 175);
}

.picture-empty-product {
    font-size: 100px;
    color: rgb(175, 175, 175);
}


/* .submenuItems {
    max-height: 
} */

#products-not-found-div {
    display: none;
}