body {
    background-color: rgb(250, 250, 250);
}

.main-container-profile {
    padding: 0px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.profile-area {
    background-color: #fff;
    border: .5px solid rgb(221, 220, 220);
    margin-bottom: 20px;
    padding: 20px;
}

.menu-profile {
    width: 100%;
    border: 1px solid rgb(221, 220, 220);
    background-color: #fff;
}

.menu-profile ul {
    margin: 0px;
}

.menu-profile ul li {
    height: 40px;
    line-height: 40px;
    border-bottom: .5px solid rgb(221, 220, 220);
    background-color: #fff;
}

.menu-profile ul li:last-child {
    border-bottom: none;
}

.menu-profile ul li a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding-left: 15px;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
}

.menu-profile ul li:hover,
.menu-profile .active-link {
    color: black;
    font-weight: bold;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
}

@media screen and (max-width: 768px) {
    .menu-profile {
        margin-bottom: 10px;
    }
    .menu-profile ul li {
        display: inline;
        border: none;
        box-sizing: border-box;
    }
    .menu-profile ul li a {
        display: inline-block;
    }
    .menu-profile ul li:hover,
    .menu-profile .active-link {
        background-color: white;
    }
}

.hidden-detail-area {
    width: 100%;
    height: auto;
    display: none;
}

.profile-input {
    width: 100%;
    border-radius: 0px;
    border: .5px solid rgb(221, 221, 221);
}

label {
    text-transform: uppercase;
    color: grey;
    font-size: 14px;
}

input.profile-input {
    color: black;
    text-align: start;
    font-size: 12px;
}

input.profile-input[disabled] {
    color: grey;
    font-size: 12px;
    background-color: rgb(250, 250, 250);
}

h4 {
    margin-bottom: 15px;
}

.cancel-personal-info-btn {
    margin-bottom: 10px;
}

.save-personal-info-btn {
    margin-bottom: 10px;
}


/* orders history */

.profile-order-area {
    height: auto;
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    padding: 0px;
    margin-bottom: 20px;
}

.header-order-area {
    height: 60px;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(230, 236, 248)
}

.align-items-center {
    height: 100%;
}

.name-and-status-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.name-order {
    overflow: hidden;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

.status-order {
    background-color: rgb(195, 220, 240);
    border-radius: 5px;
    font-size: 14px;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
}

.price-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.price-name {
    width: 50%;
    text-align: center;
}

.price-order-itself {
    width: 50%;
    text-align: start;
    display: flex;
    align-items: center;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .name-and-status-order {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .name-order {
        margin-right: 0px;
        font-size: 14px;
    }
    .status-order {
        font-size: 12px;
    }
    .price-order {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    .price-name {
        width: 100%;
        text-align: end;
    }
    .price-order-itself {
        width: 100%;
        display: block;
        text-align: end;
    }
}

@media screen and (max-width: 768px) {
    .name-and-status-order {
        margin-left: 10px;
    }
    .price-order {
        margin-right: 10px;
    }
    .name-order {
        font-size: 12px;
    }
    .status-order {
        font-size: 10px;
    }
    .price-order {
        font-size: 12px;
    }
}

.item-order {
    margin-top: 10px;
    height: auto;
    margin-bottom: 10px;
}

.picture-item-order {
    height: 100px;
    margin-left: 20px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .picture-item-order {
        margin-left: 10px;
    }
}

.picture-item-order img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.name-articul {
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-item {
    height: 20px;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.articul-item {
    height: 23px;
    overflow: hidden;
    font-size: 12px;
    color: grey;
}

@media screen and (max-width: 992px) {
    .name-item {
        height: 20px;
        font-size: 12px;
    }
}

.quantity-price {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantity-item {
    width: 50%;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.price-item {
    width: 50%;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
}

.price-and-buttons {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-item-fav {
    width: 50%;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.delete-and-buy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.delete-and-buy .btn {
    height: 30px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
}

.remove-from-favourites,
.add-to-cart {
    background-color: #fff;
    border: 1px solid #ccc;
}

.delete-and-buy .remove-from-favourites:hover {
    background-color: rgb(255, 94, 94);
    border: 1px solid rgb(255, 94, 94);
}

.add-to-cart:after {
    content: "В корзину";
}

.add-to-cart:hover {
    background-color: rgb(255, 210, 64);
    border: 1px solid rgb(255, 210, 64);
}

.active-add-to-cart {
    background: rgb(255, 210, 64);
    border: 1px solid rgb(255, 210, 64);
}

.active-add-to-cart::after {
    content: "В корзине";
}

@media screen and (max-width: 992px) {
    .quantity-price {
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
    }
    .quantity-item {
        width: 100%;
        margin-bottom: 10px;
        text-align: end;
    }
    .price-item {
        width: 100%;
        text-align: center;
        text-align: end;
    }
    .price-and-buttons {
        padding-right: 20px;
    }
    .price-item-fav {
        width: 100%;
        text-align: start;
    }
    .delete-and-buy {
        width: 100%;
        text-align: end;
    }
    .delete-and-buy .btn {
        font-size: 12px;
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    .picture-item-order {
        display: none;
    }
    .name-articul {
        height: 70px;
        padding-left: 10px;
    }
    .quantity-price {
        height: 70px;
        padding-right: 10px;
    }
    .quantity-item {
        text-align: end;
    }
    .price-item {
        text-align: end;
    }
    .price-and-buttons {
        height: 100%;
        padding-right: 10px;
    }
    .price-item-fav {
        text-align: start;
    }
    .delete-and-buy {
        height: 100%;
        text-align: end;
    }
}

.empty-profile-block {
    border: 1px solid rgb(221, 220, 220);
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caption-empty-profile {
    color: rgb(175, 175, 175);
}

.picture-empty-profile {
    font-size: 100px;
    color: rgb(175, 175, 175);
}

.text-empty-profile {
    font-size: 13px;
}

.tel-empty-profile {
    font-size: 20px;
    font-weight: bold;
}
