body {
    background-color: rgb(250, 250, 250);
}

.main-info {
    background-color: #fff;
    border: .5px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

a {
    color: #7ea5df;
}

a:hover {
    text-decoration: none;
}

p.sale {
    margin-top: 20px;
}

.warning-span {
    font-weight: bold;
    color: red;
}