body {
    background-color: rgb(250, 250, 250);
}

.main-info {
    background-color: #fff;
    border: .5px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

h5 {
    margin-bottom: 10px;
}

.ul-one li {
    margin-bottom: 20px;
}

.ul-one li:last-child {
    margin-bottom: 0px;
}

a {
    color: #7ea5df;
}

a:hover {
    text-decoration: none;
}