body {
    background-color: rgb(250, 250, 250);
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.wrapper-for-pseudo-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

#pseudo-modal {
    width: 400px;
    max-height: 590px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h4 {
    margin-top: 10px;
    text-align: center;
}

.label-modal {
    font-size: 18px;
}

.links-in-modal {
    color: #0065a3;
    font-size: 18px;
}

.links-in-modal:hover {
    color: #0490e7;
    text-decoration: none;
}

.flex-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.register-div {
    display: flex;
    justify-content: space-around;
}

.submit-button {
    font-size: 18px;
    width: 250px;
    background-color: #3291cb;
    border: 1px solid #3291cb;
    margin-top: 5px;
}

.submit-button:hover {
    background-color: #6aa4c9;
    border: 1px solid #6aa4c9;
}

hr {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* checkbox */

input[type=checkbox].checkbox-send-message {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].checkbox-send-message+label.label-send-message {
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 20px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 15px;
    color: black;
}

input[type=checkbox].checkbox-send-message:checked+label.label-send-message {
    background-position: 0 -20px;
    background-size: 20px;
}

label.label-send-message {
    background-image: url(https://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .wrapper-for-pseudo-modal {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    #pseudo-modal {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border: none;
        border-top: 1px solid rgb(221, 220, 220);
        border-bottom: 1px solid rgb(221, 220, 220);
        border-radius: 0px;
    }
    h4 {
        margin-top: 10px;
        font-size: 15px;
    }
    .label-modal {
        font-size: 14px;
    }
    .links-in-modal {
        color: #0065a3;
        font-size: 14px;
    }
    .links-in-modal:hover {
        color: #0490e7;
        text-decoration: none;
    }
    .flex-div {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .register-div {
        margin: 0px;
        display: flex;
        justify-content: space-around;
        font-size: 14px;
    }
    .submit-button {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        width: 250px;
        background-color: #3291cb;
        border: 1px solid #3291cb;
        padding: 0px;
        margin-top: 5px;
    }
    .submit-button:hover {
        background-color: #6aa4c9;
        border: 1px solid #6aa4c9;
    }
    hr {
        margin: 0px;
        margin-bottom: 3px;
    }
}

.alert {
    position: relative;
    padding: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 14px;
}