{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Настройка title -->
    <title>500</title>

    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Подключаем FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- base css -->
    <link rel="stylesheet" href="{% static 'css/errors-style.css' %}">

</head>

<body>
    <div class="container-fluid">
        <div class="flex-div">
            <i class="far fa-frown"></i>
            <h1>500</h1>
            <p>Ошибка!</p>
            <p>На стороне сервера произошла ошибка!</p>
            <p>Вы можете вернуться назад или перейти на <a href="{% url 'home' %}">главную страницу сайта.</a></p>
        </div>
    </div>




    <!-- Подключаем jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Капча -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Скрипт -->
    <script src="{% static 'js/signup.js' %}"></script>

</body>

</html>