{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">

    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- meta-description -->
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">{% endif %}

    <!-- meta-keywords -->
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">{% endif %}

    <!-- Настройка title -->
    <title>{{ page.title }}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="https://img.icons8.com/ultraviolet/64/000000/star.png" type="image/x-icon">

    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Подключаем FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <!-- Подключаем ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>

    <!-- Подключаем ionicons -->
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">

    <!-- base css -->
    <link rel="stylesheet" href="{% static 'css/base-style.css' %}">

    <!-- individual css -->
    {% block css %}{% endblock css %}
</head>

<body>

    <!-- preloader -->
    <!-- <div id="page-preloader"><span class="spinner"><img src="{% static 'images/loadicon.gif' %}"> </span></div> -->

    <!-- <video>
    <source src="https://giphy.com/gifs/3o7bu3XilJ5BOiSGic/html5" type="video/mp4">
    </video> -->

    <!-- затемнение экрана -->
    <div id="layer"></div>
    {% comment %}
    <div id="map" style="width: 600px; height: 400px"></div> {% endcomment %}

    <!-- fisrt main navbar -->
    <div class="wrapper-for-fisrt-navbar container-fluid">
        <div class="container">
            <div class="d-none d-xl-block">
                <nav class="navbar navbar-expand-md navbar-light">

                    <!-- brand -->
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logotip.png' %}" class="logo-img"></a>

                    <!-- navbar nav -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_us' %}">О компании</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shipping' %}">Доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'payment:detail' %}">Оплата</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact_us' %}">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'replies' %}">Отзывы</a>
                        </li>

                        <!-- phone-for-connect-->
                        <li class="nav-item phone-for-connect">
                            <a href="#">8-999-999-99-99</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- second main navbar -->
    <div class="wrapper-for-second-navbar container-fluid d-none d-xl-block">
        <div class="container">
            <div class="d-flex flex-row justify-content-between">

                <!-- catalog -->
                <button role="button" type="button" class="btn dropdown-toggle" id="catalog-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    КАТАЛОГ ТОВАРОВ
                </button>

                <ul class="accordion-menu noclose dropdown-menu" aria-labelledby="catalog-button">

                    {% for category in category_list %}
                    <li>
                        <div class="dropdownlink">
                            {{ category.name }}
                            <ion-icon class="new-icon-chevron" name="chevron-down-outline"></ion-icon>
                        </div>
                        <ul class="submenuItems">
                            <li class="all-products-category"><a href="{{ category.get_absolute_url }}">Все товары</a>
                            </li>
                            {% for child in category.children.all %}
                            <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>

                <!-- search -->
                <form action="" method="GET">
                    <div class="input-group">
                        <input name='query' id="search-input" type="text" class="form-control" placeholder="Введите запрос, например, унитазы" autocomplete="off">
                        <div class="input-group-append">
                            <button id="search-button" class="btn btn-outline-secondary" type="SUBMIT">
                                <ion-icon class="new-icon-menu" name="search-outline"></ion-icon>
                            </button>
                        </div>
                    </div>

                    <div class="dropdown-results">
                        <ul class="list-unstyled">
                        </ul>
                    </div>
                </form>


                <!-- personal cabinet -->
                <a href="{% url 'account:profile' %}" id="personal-cabinet-button" class="btn btn-success">Личный
                    кабинет</a>

                <!-- basket -->
                {% if request.cart %}
                <form id="basket-form">
                    <a href="{% url 'cart:cart_detail' %}">
                        <div id="basket-area" class="btn btn-danger">
                            <div class="cart-area">
                                <ion-icon class="icon-cart-large" name="cart"></ion-icon>
                                <span class="span-for-cart-quantity"><span
                                        id="basket-count">{{ request.cart|length }}</span></span>
                            </div>

                            <div class="count-area">
                                <span id='minituare-basket-total-cost'>{{ request.cart.get_total_price|floatformat:'0' }}
                                    p.</span>
                            </div>
                        </div>
                    </a>
                </form>
                {% else %}
                <form id="basket-form">
                    <a href="{% url 'cart:cart_detail' %}">
                        <div href="{% url 'cart:cart_detail' %}" id="basket-button-empty" class="btn btn-secondary">
                            <ion-icon class="icon-cart-empty" name="cart"></ion-icon>
                            <span class="count-area-empty">
                                <div>Корзина пуста</div>
                            </span>
                        </div>
                    </a>
                </form>
                {% endif %}

            </div>
        </div>
    </div>

    <!-- sidenavbar for small screen -->
    <div id="mySidenav" class="sidenav">

        <a class="closebtn" onclick="closeNav()">
            <ion-icon class="new-icon-close" name="close-outline"></ion-icon>
        </a>

        <!-- catalog on small screen -->
        <ul class="accordion-menu-small noclose">

            {% for category in category_list %}
            <li>
                <div class="dropdownlink">
                    {{ category.name }}
                    <ion-icon class="new-icon-chevron" name="chevron-down-outline"></ion-icon>
                </div>
                <ul class="submenuItems">
                    <li class="all-products-category"><a href="{{ category.get_absolute_url }}">Все товары</a></li>
                    {% for child in category.children.all %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            <li class="other-li-div">
                <a href="{% url 'account:profile' %}" class="links-for-li">
                    Личный кабинет
                </a>
            </li>


            <li class="other-li-div">
                <a href="{% url 'about_us' %}" class="links-for-li">
                    О компании
                </a>
            </li>


            <li class="other-li-div">
                <a href="{% url 'shipping' %}" class="links-for-li">
                    Доставка
                </a>
            </li>


            <li class="other-li-div">
                <a href="{% url 'payment:detail' %}" class="links-for-li">Оплата
                </a>
            </li>


            <li class="other-li-div">
                <a href="{% url 'contact_us' %}" class="links-for-li">Контакты</a>
                </a>
            </li>


            <li class="other-li-div">
                <a href="{% url 'replies' %}" class="links-for-li">Отзывы</a>
                </a>
            </li>
        </ul>

    </div>

    <!-- main navbar in small screen -->
    <nav class="navbar navbar-light bg-nav-custom fixed-top d-block d-xl-none d-flex navbar-main-small hide-nav">

        <span id="navbar-small-btn-open">
            <ion-icon name="menu-outline"></ion-icon>
        </span>

        <!-- search-small-form -->
        <div id="search-wrap" class="search-wrap">
            <form action="" method="get">
                <div id="search-small-form">
                    <div class="input-group">
                        <input name="query" type="text" class="search-input-small form-control" placeholder="Поиск по каталогу" autocomplete="off">
                        <div class="input-group-append">
                            <button id="search-small-form-close" class="btn btn-outline-secondary" onmousedown="hideSearch()" type="button"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>

                <div class="dropdown-results-small">
                    <ul class="list-unstyled">
                    </ul>
                </div>
            </form>
        </div>


        <!-- brand on small screen -->
        <a class="navbar-brand-small" href="{% url 'home' %}"><img src="{% static 'images/logotip.png' %}" class="logo-img"></a>

        <div id="icons-small">

            <!-- search on small screen -->
            <a id="search-small-btn" onmousedown="viewSearch()">
                <ion-icon class="new-icon" name="search-outline"></ion-icon>
            </a>

            <!-- favorite on small screen -->
            <a id="favorite-small" href="#">
                <ion-icon class="new-icon" name="heart-outline"></ion-icon>
            </a>

            <!-- basket on small screen -->
            {% if request.cart %}
            <a id="cart-small" href="{% url 'cart:cart_detail' %}">
                <ion-icon class="new-icon-cart" name="cart"></ion-icon>
                <!-- <span id="basket-count-small">{{ request.cart|length }}</span> -->
            </a>
            {% else %}
            <a id="cart-small" href="{% url 'cart:cart_detail' %}">
                <ion-icon class="new-icon" name="cart-outline"></ion-icon>
            </a>
            {% endif %}
        </div>
    </nav>

    <!-- main content -->
    <div id="main-container" class="container">
        {% block content %} {% endblock content %}
    </div>

    <div class="container-fluid footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="footer-requisites">
                        <h5 class="heading-footer">
                            Реквизиты и контакты
                        </h5>
                        <div class="requisites-list">
                            <div>ООО "Магазин Сантехники"</div>
                            <div>ИНН/КПП:</div>
                            <div>3328006739/332801001</div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="footer-menu">
                        <h5 class="heading-footer">
                            Информация для покупателя
                        </h5>
                        <div class="footer-menu-list">
                            <div><a href="{% url 'about_us' %}">О компании</a></div>
                            <div><a href="{% url 'shipping' %}">Доставка</a></div>
                            <div><a href="{% url 'payment:detail' %}">Оплата</a></div>
                            <div><a href="{% url 'contact_us' %}">Контакты</a></div>
                            <div><a href="{% url 'replies' %}">Отзывы</a></div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="footer-payment">
                        <h5 class="heading-footer">
                            Мы принимаем к оплате
                        </h5>
                        <img src="{% static 'images/visa.png' %}">
                        <img src="{% static 'images/mastercard.png' %}">
                        <img src="{% static 'images/sber.png' %}" class="img-sber">

                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="footer-social">
                        <h5 class="heading-footer">
                            Социальные сети
                        </h5>
                        <div class="social-list">
                            <a href="#"><img src="{% static 'images/inst.png' %}"></a>
                            <a href="#"><img src="{% static 'images/tweet.png' %}"></a>
                            <a href="#"><img src="{% static 'images/vk.png' %}"></a>
                            <a href="#"><img src="{% static 'images/facebook.png' %}"></a>
                            <a href="#"><img src="{% static 'images/whatsapp.png' %}"></a>
                            <a href="#"><img src="{% static 'images/telegram.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="footer-copyright">
                        <div>© 2019-2020 Все права защищены.</div>
                    </div>
                </div>

                <!-- <div class="col-md-6 col-3">
                    <div class="footer-social-area">
                        <a href="#"><img src="{% static 'images/inst.png' %}"></a>
                        <a href="#"><img src="{% static 'images/tweet.png' %}"></a>
                        <a href="#"><img src="{% static 'images/vk.png' %}"></a>
                        <a href="#"><img src="{% static 'images/facebook.png' %}"></a>
                        <a href="#"><img src="{% static 'images/whatsapp.png' %}"></a>
                        <a href="#"><img src="{% static 'images/telegram.png' %}"></a>
                    </div>
                </div>
                <div class="col-md-6 col-3">
                    <div class="footer-menu">
                        <a href="{% url 'about_us' %}">О компании</a>
                        <a href="{% url 'shipping' %}">Доставка</a>
                        <a href="{% url 'payment:detail' %}">Оплата</a>
                        <a href="{% url 'contact_us' %}">Контакты</a>
                        <a href="{% url 'replies' %}">Отзывы</a>
                    </div>
                </div>
                <div class="col-md-12 col-6">
                    <div class="footer-copyright">
                        <div>© 2019-2020 Все права защищены.</div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- <footer id="footer-copyright" class="page-footer">
        <div class="container-fluid text-center text-md-left">

            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="footer-menu-area">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'about_us' %}">О компании</a>
                            </li>
                            <li>
                                <a href="{% url 'shipping' %}">Доставка</a>
                            </li>
                            <li>
                                <a href="{% url 'payment:detail' %}">Оплата</a>
                            </li>
                            <li>
                                <a href="{% url 'contact_us' %}">Контакты</a>
                            </li>
                            <li>
                                <a href="{% url 'replies' %}">Отзывы</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="footer-social">
                        Мы в соц. сетях:
                        <div class="wrapper-icon">
                            <a href="#"><img src="{% static 'images/inst.png' %}"></a>
                            <a href="#"><img src="{% static 'images/tweet.png' %}"></a>
                            <a href="#"><img src="{% static 'images/vk.png' %}"></a>
                        </div>
                    </div>

                    <div class="footer-pay">
                        Мы принимаем:
                        <div class="wrapper-icon">
                            <img src="{% static 'images/yan.png' %}">
                            <img src="{% static 'images/mastercard.png' %}">
                            <img src="{% static 'images/visa.png' %}">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="footer-copyright text-center"> © 2019-2020 Все права защищены.
                    </div>
                </div>
            </div>
        </div>
    </footer> -->


    <!-- Подключаем jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Cookies-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- plugin uislider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.js" type="text/javascript">
    </script>

    <!-- Подключаем свой JS -->
    <script defer src="{% static 'js/script.js' %}"></script>

    <!-- Индивидуальный блок JS -->
    {% block js %} {% endblock js %}

    <!-- Вспомогательные блок для рендера html посредством js -->
    {% block auxiliary %} {% endblock auxiliary %}

</body>

</html>