{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Настройка title -->
    <title>Проверка email</title>

    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Подключаем FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- base css -->
    <link rel="stylesheet" href="{% static 'css/password_reset_done-style.css' %}">

</head>

<body>

    <div class="wrapper-for-pseudo-modal">
        <div id="pseudo-modal">
            <div class="center-pseudo">

                <h5>Восстановление пароля</h5>

                <hr>
                <div class="justify-content-center align-items-center">
                    <div class="col">
                        Мы отправили инструкции на Вашу электронную почту. Если Вы ничего не получили проверьте правильность введенных данных.
                    </div>

                </div>

                <hr>

                <!-- comeback -->
                <div class="form-group justify-content-center align-items-center">
                    <div class="col">
                        <a href="{% url 'account:password_reset' %}" class="links-in-modal">Вернуться к восстановлению
                            пароля</a>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Подключаем jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Капча -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Скрипт -->
    <script src="{% static 'js/signup.js' %}"></script>

</body>

</html>