{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Настройка title -->
    <title>Восстановление пароля</title>

    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Подключаем FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- base css -->
    <link rel="stylesheet" href="{% static 'css/password_reset-style.css' %}">

</head>

<body>

    <div class="wrapper-for-pseudo-modal">
        <div id="pseudo-modal">
            <div class="center-pseudo">

                <h5>Восстановление пароля</h5>

                <hr>

                <form action='' method="POST">

                    {% csrf_token %}

                    <!-- email form -->
                    <div class="form-group justify-content-center align-items-center">
                        <label for="id_email" class="col col-form-label label-modal">Введите email:</label>
                        <div class="col">
                            <input type="email" name='email' class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="id_email" placeholder="Введите Email" value="{{ form.email.value|default:'' }}">
                        </div>
                    </div>

                    <!-- recapthca -->
                    <div class="row justify-content-center align-items-center mb-3">
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                    </div>

                    <!-- submit button -->
                    <div class="form-group justify-content-center align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary submit-button">Восстановить пароль</button>
                        </div>
                    </div>

                    <hr>

                    <!-- login -->
                    <div class="form-group row justify-content-center align-items-center">
                        <a href="{% url 'account:login' %}" class="links-in-modal">Войти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Подключаем jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Капча -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Скрипт -->
    <script src="{% static 'js/signup.js' %}"></script>

</body>

</html>