{% extends "base.html" %} {% load static %} {% block title %}Личный кабинет{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/profile-style.css' %}"> {% endblock css %} {% block content %}
<div class="main-container-profile">

    <!-- breadcrumbs -->
    <ul id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">Личный кабинет</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'account:profile' %}">Личные данные</a></li>
    </ul>

    <div class="row">
        <div class="col-12 col-md-3">

            <!-- menu profile -->
            <div class="menu-profile">
                <ul class="list-unstyled">
                    <li class="active-link"><a href="{% url 'account:profile' %}">Личные данные</a></li>
                    <li><a href="{% url 'account:purchase_history' %}">История заказов</a></li>
                    <li><a href="{% url 'account:favorites' %}">Избранное</a></li>
                    <li><a href="{% url 'account:logout' %}">Выйти из аккаунта</a></li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <div class="main-info-profile profile-area">

                <!-- личные данные -->
                <div class="personal-info">

                    <!-- настоящие данные -->
                    <div class="contact-detail-area">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name-input">Имя:</label>
                                <input type="text" class="profile-input form-control" id="name-input" value="{{ first_name|default:'Имя' }}" disabled>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="surname-input">Фамилия:</label>
                                <input type="text" class="profile-input form-control" id="surname-input" value="{{ last_name|default:'Фамилия' }}" disabled>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="phone-input">Телефон:</label>
                                <input type="text" class="profile-input form-control" id="phone-input" value="{{ phone_number|default:'Номер телефона' }}" disabled>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="email-input">Email:</label>
                                <input type="email" class="profile-input form-control" id="email-input" value="{{ email|default:'Адрес электронной почты' }}" disabled>
                            </div>
                        </div>

                        <button class="btn edit-personal-info-btn btn-outline-warning">Редактировать</button>

                    </div>

                    <!-- изменяемые данные -->
                    <div class="hidden-detail-area">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name-change-input">Имя:</label>
                                <input type="text" class="profile-input form-control" id="name-change-input" value="{{ first_name|default:'Имя' }}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="surname-change-input">Фамилия:</label>
                                <input type="text" class="profile-input form-control" id="surname-change-input" value="{{ last_name|default:'Фамилия' }}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="phone-change-input">Телефон:</label>
                                <input type="text" class="profile-input form-control phone-mask" id="phone-change-input" value="{{ phone_number|default:'Номер телефона' }}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="email-change-input">Email:</label>
                                <input type="email" class="profile-input form-control" id="email-change-input" value="{{ email|default:'Адрес электронной почты' }}" disabled>
                            </div>
                        </div>

                        <button id="cancel-changes-button" class="btn cancel-personal-info-btn btn-outline-danger">Отменить</button>
                        <button id="save-changes-button" class="btn save-personal-info-btn btn-outline-success">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

{% endblock content %} {% block js %}
<!-- Mask phone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock js %}