{% extends "base.html" %} {% load static %} {% block title %}Личный кабинет{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/profile-style.css' %}"> {% endblock css %} {% block content %}
<div class="main-container-profile">

    <!-- breadcrumbs -->
    <ul id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">Личный кабинет</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'account:favorites' %}">Избранное</a></li>
    </ul>

    <div class="row">
        <div class="col-12 col-md-3">

            <!-- menu profile -->
            <div class="menu-profile">
                <ul class="list-unstyled">
                    <li><a href="{% url 'account:profile' %}">Личные данные</a></li>
                    <li><a href="{% url 'account:purchase_history' %}">История заказов</a></li>
                    <li class="active-link"><a href="{% url 'account:favorites' %}">Избранное</a></li>
                    <li><a href="{% url 'account:logout' %}">Выйти из аккаунта</a></li>
                </ul>
            </div>
        </div>

        <div id="favourite-products-div" class="col-12 col-md-9">

            {% for product in favourite_list %}
            <!-- fav items -->
            <div id="favourite-product-div-{{ product.id }}" class="profile-order-area">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="item-order">
                            <div class="row no-gutters">

                                <!-- picture col -->
                                <div class="col-md-2">
                                    <div class="picture-item-order">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}"> {% else %}
                                        <img src="{{ product.get_default_image_url }}"> {% endif %}
                                    </div>
                                </div>

                                <!-- name and article col -->
                                <div class="col-md-6 col-6">
                                    <div class="name-articul">
                                        <div class="name-item">
                                            {{ product.name }}
                                        </div>
                                        <div class="articul-item">
                                            Артикул: -
                                        </div>
                                    </div>
                                </div>

                                <!-- quantity and price col  -->
                                <div class="col-md-4 col-6">
                                    <div class="price-and-buttons">
                                        <div class="price-item-fav">
                                            {{ product.price }} p.
                                        </div>
                                        <div class="delete-and-buy">
                                            <button id="remove-product-button-{{ product.id }}" data-product-id="{{ product.id }}" class="btn remove-from-favourites">Убрать</button>
                                            <button id="add-to-cart-button-{{ product.id }}" data-product-id="{{ product.id }}" class="btn add-to-cart"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <!-- if empty -->
            <div class="empty-profile-block">
                <h1 class="caption-empty-profile">Список избранного пуст.</h1>

                <p class="picture-empty-profile"><i class="far fa-heart"></i></p>
                <p class="text-empty-profile">Индивидуальный подбор товара по телефону (бесплатно по России):</p>
                <span class="tel-empty-profile">8 800 700 15 00</span>
            </div>
            {% endfor %}


        </div>
    </div>
</div>

{% endblock content %} {% block js %}
<!-- Mask phone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/favourite_products.js' %}"></script>
{% endblock js %}

{% block auxiliary %}
{% endblock auxiliary %}