{% extends "base.html" %} {% load static %} {% block title %}Личный кабинет{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/profile-style.css' %}"> {% endblock css %} {% block content %}
<div class="main-container-profile">

    <!-- breadcrumbs -->
    <ul id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">Личный кабинет</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'account:purchase_history' %}">История заказов</a></li>
    </ul>

    <div class="row">
        <div class="col-12 col-md-3">

            <!-- menu profile -->
            <div class="menu-profile">
                <ul class="list-unstyled">
                    <li><a href="{% url 'account:profile' %}">Личные данные</a></li>
                    <li class="active-link"><a href="{% url 'account:purchase_history' %}">История заказов</a></li>
                    <li><a href="{% url 'account:favorites' %}">Избранное</a></li>
                    <li><a href="{% url 'account:logout' %}">Выйти из аккаунта</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-9">

            {% for order in order_list %}
            <div class="profile-order-area">
                <div class="row no-gutters">

                    <div class="col-12 col-md-12">
                        <div class="header-order-area">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-8 col-8">
                                    <div class="name-and-status-order">
                                        <div class="name-order">
                                            Заказ №{{ order.id }} от {{ order.created }}
                                        </div>
                                        <div class="status-order">
                                            {% with order.payment_status as status %} {% if status == 'succeeded' %} Оплачен {% elif status == 'canceled' %} Отменён {% elif status == 'pending' %} В ожидании оплаты {% endif %} {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="price-order">
                                        <div class="price-name">
                                            Сумма заказа:
                                        </div>
                                        <div class="price-order-itself">
                                            {{ order.total_cost|floatformat:2 }} р.
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- order_items -->
                    <div class="col-md-12">

                        {% for item in order.items.all %}
                        <div class="item-order">
                            <div class="row no-gutters">

                                <!-- picture col -->
                                <div class="col-md-2">
                                    <div class="picture-item-order">
                                        {% if item.product.image %}
                                        <img src="{{ item.product.image.url }}"> {% else %}
                                        <img src="{{ item.product.get_default_image_url }}"> {% endif %}

                                    </div>
                                </div>

                                <!-- name and article col -->
                                <div class="col-md-6 col-8">
                                    <div class="name-articul">
                                        <div class="name-item">
                                            {{ item.product.name }}
                                        </div>
                                        <div class="articul-item">
                                            Артикул: -
                                        </div>
                                    </div>
                                </div>

                                <!-- quantity and price col  -->
                                <div class="col-md-4 col-4">
                                    <div class="quantity-price">
                                        <div class="quantity-item">
                                            {{ item.quantity }} шт.
                                        </div>
                                        <div class="price-item">
                                            {{ item.price|floatformat:2 }} р.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if not forloop.last %}
                        <hr> {% endif %} {% endfor %}
                    </div>

                </div>
            </div>
            <!-- if empty -->
            {% empty %}
            <div class="empty-profile-block">
                <h1 class="caption-empty-profile">История заказов пуста.</h1>
                <p class="picture-empty-profile"><i class="fas fa-book-open"></i></p>
                <p class="text-empty-profile">Индивидуальный подбор товара по телефону (бесплатно по России):</p>
                <span class="tel-empty-profile">8 800 700 15 00</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %} {% block js %}
<!-- Mask phone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock js %}