{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Кодировка веб-страницы -->
  <meta charset="utf-8">
  <!-- Настройка viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Настройка title -->
  <title>Вход в личный кабинет</title>

  <!-- Подключаем Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Подключаем FontAwesome -->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

  <!-- Шрифты -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- base css -->
  <link rel="stylesheet" href="{% static 'css/signup-style.css' %}">

</head>

<body>

  <div class="wrapper-for-pseudo-modal">
    <div id="pseudo-modal">
      <div class="center-pseudo">

        <h4>Регистрация</h4>

        <hr>

        <form id='signup-form' action='{% url "account:signup" %}' method="POST">

          {% csrf_token %}

          <!-- Form error list -->
          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endfor %}

          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}

          {% endif %}

          <!-- email form -->
          <div class="form-group justify-content-center align-items-center mb-0">
            <label for="id_email" class="col col-form-label label-modal">Введите email:</label>
            <div class="col">
              <input type="email" name='email' class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                id="id_email" placeholder="Введите Email" value="{{ form.email.value|default:'' }}">
            </div>
          </div>

          <!-- password form -->
          <div class="form-group justify-content-center align-items-center mb-0">
            <label for="id_password" class="col col-form-label label-modal">Введите пароль:</label>
            <div class="col">
              <input type="password" name='password1'
                class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="id_password"
                placeholder="Не менее 6 символов" value="{{ form.password.value|default:'' }}">
            </div>
          </div>

          <!-- password  -->
          <div class="form-group justify-content-center align-items-center">
            <label for="id_password" class="col col-form-label label-modal">Повторите пароль:</label>
            <div class="col">
              <input type="password" name='password2'
                class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="id_password"
                placeholder="Не менее 6 символов" value="{{ form.password.value|default:'' }}">
            </div>
          </div>

          <!-- recapthca -->
          <div class="flex-div">
            <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
          </div>

          <!-- checkbox -->
          <input name='policy_agreement' type="checkbox" id="checkbox-politic" class="checkbox-send-message"
            checked /><label for="checkbox-politic" class="label-send-message">С условиями политики конфиденциальности
            ознакомлен</label>

          <!-- submit button -->
          <div class="flex-div">
            <button type="submit" class="btn btn-primary submit-button">Зарегистрироваться</button>
          </div>

          <hr>

          <!-- login -->
          <div class="register-div">
            <a href="{% url 'account:login' %}" class="links-in-modal">Войти</a>
          </div>
        </form>
      </div>

    </div>
  </div>



  <!-- Подключаем jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Подключаем плагин Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

  <!-- Подключаем Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <!-- Капча -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!-- Скрипт -->
  <script src="{% static 'js/signup.js' %}"></script>

</body>

</html>