{% extends "base.html" %} {% load static %} {% block title %}Заказ не принят!{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/new_order-style.css' %}"> {% endblock css %} {% block content %}
<div class="order-done-area">
    <div class="wrapper-order-done">
        <h1>Ошибка!</h1>
        <p class="p-order-done">К сожалению, во время оплаты произошла ошибка. Попробуйте оформить заказ ещё раз</p>
        <a href="{% url 'order:new_order' %}"><button class="btn btn-outline-secondary">Перейти к оформлению</button></a>
    </div>



</div>
{% endblock content %} {% block js %} {% endblock js %}