{% extends "base.html" %}

{% load static %}

{% block title %}Оформление заказа{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/new_order-style.css' %}">
{% endblock css %}

{% block content %}
<!-- final -->
    <!-- <div class="row">
        <div class="col-lg-9">
            <div class="order-area">

                <h4>Итого</h4>

                <hr>

                <h6>Ваш заказ принят!</h6>
                <table class="table table-borderless table-final">
                    <tbody>
                        <tr>
                            <td class="td-first">Номер заказа:</td>
                            <td>12121212</td>
                        </tr>
                        <tr>
                            <td class="td-first">Статус заказа:</td>
                            <td>Ждет оплаты</td>
                        </tr>
                        <tr>
                            <td class="td-first">Заказ зарезервирован до:</td>
                            <td>08.03.2020</td>
                        </tr>
                        <tr>
                            <td class="td-first">Адрес магазина:</td>
                            <td>121212, Ленинградская область, Ломоносовский р-он, ул. Сименса, д. 5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
{% endblock content %}