{% extends "base.html" %} {% load static %} {% block title %}Заказ принят!{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/new_order-style.css' %}"> {% endblock css %} {% block content %}
<div class="order-done-area">
    <div class="wrapper-order-done">
        <h1>Спасибо!</h1>
        <p class="p-order-done">Ваш заказ успешно оформлен. Мы свяжемся с Вами в ближайшее время.<br> Номер Вашего заказа <span class="order-number">#{{ order.id }}</span>.</p>
        <a href="{% url 'home' %}"><button class="btn btn-outline-secondary">Вернуться в магазин</button></a>
    </div>



</div>
{% endblock content %} {% block js %} {% endblock js %}