{% extends "base.html" %} {% load static %} {% block title %}Оформление заказа{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/new_order-style.css' %}"> {% endblock css %} {% block content %}

<div id="main-container" class="container">
    <form id="my-form">
        <div class="row">

            <div class="col-md-12 col-lg-4 order-lg-last order-md-last order-last">
                <!-- summary -->
                <div class="summary-block">
                    <h5>Ваш заказ:</h5>
                    <div class="sum-flex">
                        <div>
                            Количество товаров:
                        </div>
                        <div>
                            {{ request.cart|length }} (шт.)
                        </div>
                    </div>

                    <div class="sum-flex">
                        <div>
                            Дата доставки:
                        </div>
                        <div id="delivery-max-date">
                            Сегодня
                        </div>
                    </div>

                    <div class="sum-flex">
                        <div>
                            Стоимость доставки:
                        </div>
                        <div id="delivery-cost">
                            1000 p.
                        </div>
                    </div>

                    <div class="sum-flex">
                        <div>
                            Всего к оплате:
                        </div>

                        <div>
                            {{ request.cart.get_total_price }} p.
                        </div>
                    </div>

                    <button id="order-creation-button" type='submit' class="btn btn-warning btn-lg btn-block post-but" disabled>Оформить</button>

                    <div class="note-for-execute">
                        Нажимая кнопку «Оформить», я даю согласие на обработку персональных данных, в соответствии с
                        <a href="#">Политикой</a>, и соглашаюсь с <a href="#">Правилами</a>.
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12 order-lg-first order-first">
                <div class="order-area">
                    <h5>Получатель</h5>
                    <div class="row">
                        <div class="col-md-7 col-12 p-0">

                            <!-- Имя и Фамилия -->
                            <div class="form-group justify-content-center align-items-center">
                                <label for="name-input" class="col col-form-label">Имя и фамилия</label>
                                <div class="col-md-11">
                                    {% if form.name.value %}
                                    <input type="text" name='name' placeholder="Иван Иванов" class="name-input form-control post-el" id="name-input" value="{{ form.name.value }}" required> {% else %}
                                    <input type="text" name='name' placeholder="Иван Иванов" class="name-input form-control post-el" id="name-input" required> {% endif %}
                                </div>
                            </div>

                            <!-- Телефон -->
                            <div class="form-group justify-content-center align-items-center">
                                <label for="tel-input" class="col col-form-label">Телефон</label>
                                <div class="col-md-11">
                                    {% if form.phone_number.value %}
                                    <input type="tel" name='phone_number' placeholder="+ 7 999 999 99 99" class="tel-input form-control phone-mask post-el" id="tel-input" value="{{ form.phone_number.value }}" required> {% else %}
                                    <input type="tel" name='phone_number' placeholder="+ 7 999 999 99 99" class="tel-input form-control phone-mask post-el" id="tel-input" required> {% endif %}
                                </div>
                            </div>

                            <!-- Эл. почта -->
                            <div class="form-group justify-content-center align-items-center">
                                <label for="email-input" class="col col-form-label">Эл. почта</label>
                                <div class="col-md-11">
                                    {% if form.email.value %}
                                    <input type="email" name='email' placeholder="ivan@mail.ru" class="email-input form-control post-el" id="email-input" value="{{ form.email.value }}" required> {% else %}
                                    <input type="email" name='email' placeholder="ivan@mail.ru" class="email-input form-control post-el" id="email-input" required> {% endif %}

                                </div>
                            </div>

                            <input type="checkbox" id="checkbox-send-message" class="checkbox-send-message" checked /><label for="checkbox-send-message" class="label-send-message">Я хочу получать
                                рекламные сообщения и
                                новости о товарах и
                                услугах Сантехники</label>
                        </div>

                        {% if not request.user.is_authenticated %}
                        <div class="col-md-5 col-12 p-0 note-for-take">
                            Рекомендуем <a href="{% url 'account:login' %}?next={% url 'order:new_order' %}">войти</a> или <a href="{% url 'account:signup' %}?next={% url 'order:new_order' %}">зарегистрироваться</a>, чтобы данный заказ сохранился в вашей
                            истории покупок, и вы имели возможность оставить отзыв.
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="order-area">

                    <h5>Доставка</h5>
                    <div class="row">
                        <div class="col-12 p-0">

                            <!-- Населённый пункт -->
                            <div class="form-group justify-content-center align-items-center">
                                <div class="col">
                                    <div class="city-area">
                                        <label for="city" class="col-form-label"><span>*</span>Населённый пункт</label>
                                        <input type="text" name="city" placeholder="г. Москва" class="city-input form-control post-el" id="city-input" data-cdek-city-id="0" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 m-0">
                                <div class="address-error">
                                    Ошибка! Не удалось определить населенный пункт
                                </div>
                            </div>

                            {% comment %} <div class="form-group justify-content-center align-items-center">
                                <label for="index-input" class="col col-form-label"><span>*</span>Почтовый
                                    индекс</label>
                                <div class="col-md-12">
                                    <input type="text" name='index' placeholder="0101010" class="index-input form-control post-el" id="index-input" required>
                                </div>
                            </div> {% endcomment %}


                        </div>

                    </div>
                    <div class="info-delivery-punkt">
                        Введите название своего города и выберите его из выпадающего списка
                    </div>

                    <div id='delivery-details-block' class="hide-block">
                        <h5 class="mt-1">Способ доставки</h5>
                        <div class="row">
                            <div class="col-12">

                                <!-- Способ доставки -->
                                <div class="wrapper-cards-delivery">
                                    <label id="delivery-by-cdek" class="label-delivery label-cdek">
                                        <input type="radio" class="cdek-delivery delivery-with post-el"
                                            name="delivery_method" value="cdek" checked />
                                        <div class="delivery-cards">
                                            <img src="{% static 'images/cdek.png' %}" class="img-cdek"></a>
                                        </div>
                                    </label>

                                    <label id="delivery-by-youserlf" class="label-delivery label-self">
                                        <input id="pickup_from_shop" type="radio"
                                            class="self-delivery delivery-with post-el" name="delivery_method"
                                            value="pickup" />
                                        <div class="delivery-cards">
                                            <img src="{% static 'images/self-delivery.png' %}" class="img-selfdel"></a>
                                            <div>Самовывоз</div>
                                        </div>
                                    </label>

                                    <!-- почта россии скрыта -->
                                    <!-- <label class="label-delivery label-ruspost">
                                        <input id="pickup_from_shop" type="radio"
                                            class="ruspost-delivery delivery-with post-el" name="delivery_method"
                                            value="pickup" />
                                        <div class="delivery-cards">
                                            <img src="{% static 'images/russian_post.png' %}" class="img-ruspost"></a>
                                        </div>
                                    </label> -->
                                </div>
                            </div>
                        </div>

                        <div class="cdek-area">

                            <label class="container-radio label-cdek-to-apart">Доставка до квартиры
                                <input type="radio" class="input-cdek-to-apart" name="delivery_detail"
                                    value="to_apartment" checked>
                                <span class="checkmark"></span>
                            </label>

                            <label class="container-radio label-self-del-cdek">Доставка в пункт самовывоза СДЭК
                                <input type="radio" class="input-self-del-cdek" name="delivery_detail"
                                    value="to_pickup_point">
                                <span class="checkmark"></span>
                            </label>

                            <div class="self-delivery-cdek">
                                <div class="wrapper-for-wrapper">
                                    <div class="self-del-cdek-wrapper">
                                        <div class="address-seld-del-cdek">
                                            <div>Адрес:</div>
                                            <div>Улица Репина 33, дом 12, кв. 12</div>
                                        </div>
                                        <div class="date-seld-del-cdek">
                                            <div>Срок доставки:</div>
                                            <div>20 дней</div>
                                        </div>
                                        <div class="price-seld-del-cdek">
                                            <div>Стоимость доставки:</div>
                                            <div>1000 р.</div>
                                        </div>
                                        <div class="contact-seld-del-cdek">
                                            <div>Контактные данные:</div>
                                            <div>+7 999 999 99 99</div>
                                        </div>
                                    </div>
                                    <div class="wrapper-for-button">
                                        <button class="btn btn-warning btn-self-del-cdek">Выбрать на карте</button>
                                    </div>
                                </div>
                            </div>

                            <div class="delivery-cdek-to-apart">
                                <div class="info-del-cdek-block">
                                    <div class="date-del">
                                        <div>Срок доставки:</div>
                                        <div>20 дней</div>
                                    </div>
                                    <div class="price-del">
                                        <div>Стоимость доставки:</div>
                                        <div>1000 р.</div>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-12 p-0">
                                        <!-- Улица -->
                                        <div class="form-group justify-content-center align-items-center">
                                            <label for="street-input" class="col col-form-label"><span>*</span>Улица,
                                                дом</label>
                                            <div class="col-md-12">
                                                <input type="text" name='street' placeholder="Введите название улицы" class="street-input form-control post-el" id="street-input" required>
                                            </div>
                                        </div>

                                        <!-- Квартира -->
                                        <div class="form-group justify-content-center align-items-center">
                                            <label for="apartment-input" class="col col-form-label">Квартира,
                                                офис</label>
                                            <div class="col-md-3">
                                                <input type="text" name='apartment' placeholder="Номер дома" class="house-input form-control post-el" id="apartment-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="self-delivery-area">
                            <div class="wrapper-for-wrapper">
                                <div class="self-del-cdek-wrapper">
                                    <div class="address-seld-del-cdek">
                                        <div>Адрес:</div>
                                        <div>Улица Репина 33, дом 12, кв. 12</div>
                                    </div>
                                    <div class="date-seld-del-cdek">
                                        <div>Срок доставки:</div>
                                        <div>20 дней</div>
                                    </div>
                                    <div class="price-seld-del-cdek">
                                        <div>Стоимость доставки:</div>
                                        <div>1000 р.</div>
                                    </div>
                                    <div class="contact-seld-del-cdek">
                                        <div>Контактные данные:</div>
                                        <div>+7 999 999 99 99</div>
                                    </div>
                                </div>
                                <div class="wrapper-for-button">
                                    <button class="btn btn-warning btn-self-del-cdek">Выбрать на карте</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <h5 class="mt-3 mb-3">Выберите дату и время</h5>
                    <div class="row">
                        <div class="col-12 p-0">

                            <div class="form-inline">
                                <div class="col-md-3">
                                    <input type="date" class="data-input date-input form-control post-el">
                                </div>
                                <div class="col-md-3">
                                    <input type="time" class="data-input form-control post-el">
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <h5 class="mt-3">Услуги</h5> -->
                    <div class="row">
                        <div class="col-12">

                            <!-- Услуги -->
                            <!-- <div class="services-name">Подъем/разгрузка</div>
                            <label class="container-radio">на улицу
                                <input type="radio" name="radio" checked>
                                <span class="checkmark"></span>
                            </label>

                            <label class="container-radio">до лифта
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>

                            <label class="container-radio">в комнату
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label> -->

                        </div>
                    </div>
                </div>

                <div class="order-area">
                    <h5>Способ оплаты</h5>
                    <div class="row">
                        <div class="col-12">

                            <!-- Способ оплаты -->
                            <div class="wrapper-cards">
                                <!-- <label class="label-banks">
                                    <input type="radio" class="payment-with post-el" name="payment_method"
                                        value='cash' />
                                    <div class="bank-cards">При получении<br>
                                        <span class="note-for-payment">Банковской картой или наличными</span>
                                    </div>
                                </label> -->

                                <label class="label-banks">
                                    <input type="radio" class="payment-with post-el" name="payment_method"
                                        value='online' checked />
                                    <div class="bank-cards">
                                        <img src="{% static 'images/paycart.png' %}" class="img-paycart">
                                        <div>При получении заказа</div>
                                    </div>
                                </label>

                                <label class="label-banks">
                                    <input type="radio" class="payment-with post-el" name="payment_method"
                                        value='online' checked />
                                    <div class="bank-cards">
                                        <img src="{% static 'images/bankcard.png' %}" class="img-bankcard">
                                        <div>Банковские карты</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="order-area">
                    <h5>Комментарий к заказу</h5>
                    <div class="row">
                        <div class="col-12">
                            <!-- Комментарий к заказу -->
                            <textarea type="text" name="delivery_comment" class="form-control" maxlength="256" placeholder="Добавьте комментарий" rows="3"></textarea>
                            <span class="textarea-alert"> Максимальное количество
                                символов: 256</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>


</div>
</form>
</div>

{% endblock content %} {% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="{% static 'js/jquery.autocomplete.min.js' %}"></script>
<script src="{% static 'js/new_order.js' %}"></script>
{% endblock js %} {% block auxiliary %}
<div id="ajax-loader" class="loader"></div>
{% endblock auxiliary %}