{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Настройка title -->
    <title>Оплата</title>

    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Подключаем FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- base css -->
    <link rel="stylesheet" href="{% static 'css/payment_process-style.css' %}">

</head>

<body>

    <div class="container container-table">
        <div class="row vertical-center-row">
            <div id="pseudo-modal" class="col">
                <div class="container">

                    <h5>Оплачивайте безопасно с помощью вашей карты</h5>

                    <hr>


                    <form id='payment_form' action="{% url 'payment:process' %}" method='POST' class="needs-validation"
                        novalidate="">
                        <div class="inputs-block">
                            <!-- номер карты -->
                            <div class="form-group justify-content-center align-items-center">
                                <label for="cc-number">Номер карты</label>
                                <div class="form-control pseudo-input" id="cc-number"></div>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>

                            <div class="form-row mt-3">

                                <!-- срок действия -->
                                <div class="form-group col">
                                    <label for="cc-expiration">Срок действия<span
                                            class="span-in-label">(ММ/ГГ)</span></label>
                                    <div class="form-control pseudo-input" id="cc-expiration"></div>
                                    <div class="invalid-feedback">
                                        Expiration date required
                                    </div>
                                </div>

                                <!-- код безопасности -->
                                <div class="form-group col">
                                    <label for="cc-cvv">Код безопасности<span class="span-in-label">(3
                                            цифры)</span></label>
                                    <div class="form-control pseudo-input" id="cc-cvv"></div>
                                    <div class="invalid-feedback">
                                        Security code required
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% csrf_token %}

                        <!-- кнопка оплаты -->
                        <div class="text-center">
                            <button class="pay-button btn btn-primary btn-lg" type="submit">Оплатить</button>
                        </div>
                    </form>


                    <!-- заметка для оплаты -->
                    <div class="notes-for-pay">
                        Нажимая "Оплатить" Вы соглашаетесь с нашей <a href="#">Политикой возврата средств</a>
                    </div>

                    <hr>

                    <!-- заметка о конфиденциальности -->
                    <div class="privacy-info">
                        Все данные платежей надежно шифруются и обрабатываются платежной системой Braintree (сервис
                        PayPal).
                        Мы не храним и не собираем конфиденциальные данные платежей на наших серверах.
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap inspired Braintree Hosted Fields example -->
    <!-- <div class="bootstrap-basic">
        <form id='payment_form' action='{% url 'payment:process' %}' method='POST' class="needs-validation" novalidate="">
    
        <div class="row">
            <div class="col-sm-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required="true">
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
                Name on card is required
            </div>
            </div>
            <div class="col-sm-6 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <div class="form-control" id="cc-number"></div>
            <div class="invalid-feedback">
                Credit card number is required
            </div>
            </div>
            <div class="col-sm-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <div class="form-control" id="cc-expiration"></div>
            <div class="invalid-feedback">
                Expiration date required
            </div>
            </div>
            <div class="col-sm-3 mb-3">
            <label for="cc-expiration">CVV</label>
            <div class="form-control" id="cc-cvv"></div>
            <div class="invalid-feedback">
                Security code required
            </div>
            </div>
        </div>

        {% csrf_token %}
    
        <hr class="mb-4">
        <div class="text-center">
        <button class="btn btn-primary btn-lg" type="submit">Pay with <span id="card-brand">Card</span></button>
        </div>

        </form>
    </div>
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
        <strong class="mr-auto">Success!</strong>
        <small>Just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="toast-body">
        Next, submit the payment method nonce to your server.
        </div>
    </div>
    </div> -->




    <!-- Подключаем jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Load the required client component. -->
    <script src="https://js.braintreegateway.com/web/3.60.0/js/client.min.js"></script>

    <!-- Load Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.60.0/js/hosted-fields.min.js"></script>

    <script>
        var form = $('#payment_form');

        braintree.client.create({
            authorization: '{{ client_token }}'
        }, function (err, clientInstance) {
            if (err) {
                console.error(err);
                return;
            }

            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    input: {
                        // change input styles to match
                        // bootstrap styles
                        'font-size': '1rem',
                        color: '#495057'
                    }
                },
                fields: {
                    number: {
                        selector: '#cc-number',
                        placeholder: '4111 1111 1111 1111'
                    },
                    cvv: {
                        selector: '#cc-cvv',
                        placeholder: '123'
                    },
                    expirationDate: {
                        selector: '#cc-expiration',
                        placeholder: 'MM / YY'
                    }
                }
            }, function (err, hostedFieldsInstance) {
                if (err) {
                    console.error(err);
                    return;
                }

                form.submit(function (event) {

                    var formIsInvalid = false;
                    var state = hostedFieldsInstance.getState();

                    hostedFieldsInstance.tokenize({
                        // include the cardholderName in the tokenization
                        // request
                        cardholderName: $('#cc-name').val()
                    }, function (err, payload) {
                        if (err) {
                            console.error(err);
                            return;
                        }

                        // This is where you would submit payload.nonce to your server
                        $('.toast').toast('show');

                        // you can either send the form values with the payment
                        // method nonce via an ajax request to your server,
                        // or add the payment method nonce to a hidden inpiut
                        // on your form and submit the form programatically
                        $('#payment-method-nonce').val(payload.nonce);
                        form.submit()
                    });
                });
            });
        });
    </script>
</body>

</html>