{% extends "base.html" %}

{% load static %}

{% block title %}{{ page.title }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about_us-style.css' %}">
{% endblock css %}

{% block content %}

<div id="main-container-about">

  <!-- breadcrumbs -->
  <ul id="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active"><a href="#">{{ page.name }}</a></li>
  </ul>

  {{ page.stream.render }}

  <div class="container-fluid mt-5">
    <div class="map-about">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577336.7627686693!2d36.82514723492826!3d55.58074815884876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1581409081538!5m2!1sru!2sru"
        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

  </div>
</div>





{% endblock content %}