{% extends "base.html" %} {% load static %} {% block title %}{{ page.title }}{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/home-style.css' %}"> {% endblock css %} {% block content %}
<div id="main-container-home">
    <div class="row">
        {{ page.stream.render }}
    </div>
</div>

<!-- advantages -->
<!-- <div id="advantages-area">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col-md-3 col-6"><i class="fas fa-book-open"></i><br>Большой выбор товаров</div>
      <div class="col-md-3 col-6"><i class="fas fa-truck"></i><br>Единый тариф на доставку</div>
      <div class="col-md-3 col-6"><i class="fas fa-hand-holding-usd"></i><br>Гарантии производителя</div>
      <div class="col-md-3 col-6"><i class="fas fa-headphones"></i><br>Бесплатное консультирование</div>
    </div>
  </div>
</div> -->

{% endblock content %}