{% extends 'base.html' %} {% load static cache %} {% load mptt_tags %} {% block title %}{{ category.name }}{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/product_list-style.css' %}"> {% endblock css %} {% block content %}

<!-- main content -->
<div id="main-container">

    <!-- breadcrumbs -->
    <ul id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Все товары</a></li>
        {% if category %} {% for ancestor in category_ancestors %}
        <li class="breadcrumb-item"><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
        {% endif %}
    </ul>


    <!-- category and sorting on small screen -->
    <div class="d-block d-xl-none">
        <div id="category-sorting-small-row" class="row">

            <!-- category on small screen -->
            <a href="#" class="category-sorting-small slide-block-categorys-btn col-sm-6 col-6">
                Категории<i class="fas fa-chevron-right"></i>
            </a>

            <!-- sorting on small screen -->
            <a href="#" class="category-sorting-small slide-block-filters-btn col-6">
                Фильтры<i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>


    <!-- Выезжающий блок для категорий на малых экранах -->
    <div id="slide-block-categorys">

        <a class="closebtn-category" onclick="closeCategory()">
            <ion-icon class="new-icon-close" name="close-outline"></ion-icon>
        </a>

        {% if category or category_list %}
        <ul class="ul-categorys-small list-unstyled">
            {% if category %}
            <li class="active-category-small">
                <a href="{{ category.get_absolute_url }}">{{ category.name }}<span
                                class="quantity-categorys-small">({{ category.get_products_quantity }})</span>
                        </a>
            </li>
            {% for child in category_children %}
            <li class="child-categorys-small">
                <a href="{{ child.get_absolute_url }}">{{ child.name }}<span
                            class="quantity-categorys-small">({{ child.get_products_quantity }})</span> 
                        </a>
            </li>
            {% endfor %} {% elif category_list %} {% for category in category_list %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}<span
                                    class="quantity-categorys-small">({{ category.get_products_quantity }})</span>
                            </a>
            </li>
            {% endfor %} {% endif %}
        </ul>
        {% endif %}
    </div>

    <!-- Выезжающий блок для фильтров на малых экранах -->
    <div id="slide-block-filters">

        <a class="closebtn-filters" onclick="closeFilters()">
            <ion-icon class="new-icon-close" name="close-outline"></ion-icon>
        </a>

        <ul class="accordion-menu-small noclose ul-filters-small">

            <!-- сортировка -->
            <li>
                <div class="dropdownlink sorting-li-small sorting-small-list" data-value="">
                    <div>Сортировка:</div>
                    <div class="div-end">
                        <div class="name-sorting-small">по популярности</div>
                        <span class="chevron-icon-small">
                            <ion-icon class="new-icon-chevron" name="chevron-down-outline"></ion-icon>
                        </span>
                    </div>
                </div>

                <ul id="sorting-options-ul-small" class="submenuItems list-unstyled filters-ul">
                    <li data-value="popularity">По популярности</li>
                    <li data-value="price_increase">По возрастанию цены</li>
                    <li data-value="price_decrease">По убыванию цены</li>
                </ul>
            </li>

            <!-- Фильтр цены -->
            <li>
                <div class="dropdownlink">
                    <div>Цена:</div>
                    <div><span class="cur-price">(<span class="current-min-price">0</span><span class="line-between-spans">-</span><span class="current-max-price">10000</span>)</span>
                        <span class="chevron-icon-small">
                            <ion-icon class="new-icon-chevron" name="chevron-down-outline"></ion-icon>
                        </span>
                    </div>
                </div>

                <ul class="submenuItems list-unstyled">
                    <li class="range-div">
                        <!-- минимальная цена -->
                        <input id="price-input-from-small" type="text" class="range-inputs range-input-first" value="0">
                        <span class="line-between-inputs"></span>
                        <!-- максимальная цена -->
                        <input id="price-input-to-small" type="text" class="range-inputs range-input-last" value="10000">
                    </li>
                </ul>
            </li>

            <!-- Блок индивидуальных фильтров -->
            {% for feature in category_features %} {% with feature as filter %}
            <li id="individual-filter-{{ filter.id }}" class="individual_filter" data-filter-key="{{ filter.name }}">
                <!-- название фильтра -->
                <div class="dropdownlink">{{ filter.name }}
                    <ion-icon class="new-icon-chevron" name="chevron-down-outline"></ion-icon>
                </div>

                <ul class="submenuItems list-unstyled">
                </ul>
            </li>
            {% endwith %} {% endfor %}
        </ul>
        <div class="wrapper-for-apply-btn">
            <button type="button" class="btn btn-warning apply-filters-btn" onclick="closeFilters()">Применить</button>
        </div>
    </div>


    <div class="row">

        <!-- filters on large screen -->
        <div class="col-xl-3 col">

            <!-- Render category block if any category exists -->
            {% if category or category_list %}
            <div class="categorys-large">
                <ul class="ul-categorys list-unstyled">
                    {% if category %}
                    <li class="active-category"><a href="{{ category.get_absolute_url }}">{{ category.name }} </a><span class="quantity-categorys">({{ category.get_products_quantity }})</span></li>
                    {% for child in category_children %}
                    <li class="child-categorys"><a href="{{ child.get_absolute_url }}">{{ child.name }} </a><span class="quantity-categorys">({{ child.get_products_quantity }})</span></li>
                    {% endfor %} {% elif category_list %} {% for category in category_list %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.name }} </a><span class="quantity-categorys">({{ category.get_products_quantity }})</span></li>
                    {% endfor %} {% endif %}
                </ul>
            </div>
            {% endif %}

            <!-- фильтры -->
            <div id="category-large-other">
                <ul class="accordion-menu-category">

                    <!-- строка с диапазоном цен -->
                    <li id="price-filter">
                        <!-- название фильтра -->
                        <div class="dropdownlink-category">Цена
                            <span class="cur-price">(<span class="current-min-price">0</span><span class="line-between-spans">-</span><span class="current-max-price">10000</span>)</span>
                            <ion-icon class="new-icon-chevron" name="chevron-down-outline"></ion-icon>
                        </div>

                        <ul class="submenuItems-category list-unstyled">
                            <li class="range-div">
                                <!-- минимальная цена -->
                                <input id="price-input-from" type="text" class="range-inputs range-input-first" value="0">
                                <span class="line-between-inputs"></span>
                                <!-- максимальная цена -->
                                <input id="price-input-to" type="text" class="range-inputs range-input-last" value="10000">
                            </li>
                        </ul>
                    </li>

                    <!-- Блок индивидуальных фильтров -->
                    {% for feature in category_features %} {% with feature as filter %}
                    <li id="individual-filter-{{ filter.id }}" class="individual_filter" data-filter-key="{{ filter.name }}">
                        <!-- название фильтра -->
                        <div class="dropdownlink-category">
                            <div>{{ filter.name }}</div>
                            <ion-icon class="new-icon-chevron" name="chevron-down-outline"></ion-icon>
                        </div>

                        <ul class="submenuItems-category list-unstyled">
                        </ul>
                    </li>
                    {% endwith %} {% endfor %}

                </ul>
            </div>
        </div>

        <!-- main content product on large and small screen -->
        <div id="main-content" class="col-12 col-xl-9 col-md-12">

            <!-- sorting on large screen -->
            <div id="sorting-large">
                <div id="found-products">Найдено: {{ product_list|length }}</div>
                <div id="sorting-popularity" class="btn dropdown-toggle" type="button" data-toggle="dropdown" data-value="">Сортировка: по популярности</div>
                <div class="sorting-popularity-menu dropdown-menu">
                    <ul id="sorting-options-ul" class="list-unstyled">
                        <li data-value="popularity">По популярности</li>
                        <li data-value="price_increase">По возрастанию цены</li>
                        <li data-value="price_decrease">По убыванию цены</li>
                    </ul>
                </div>
            </div>

            <!-- row for product -->
            <div id="product-block" class="row no-gutters">
                {% for product in product_list %}
                <div id="product-div-{{ product.id }}" class="col-md-4 col-6">

                    <div class="products-main-list">
                        <div class="row no-gutters">
                            <div class="col-md-12 col-xl-12">
                                <div class="picture-of-products">
                                    <!-- <badge class="badge-for-img-products">АКЦИЯ</badge> -->
                                    <a href="{{ product.get_absolute_url }}">
                                        {% if product.image %}
                                            <img id='product-image-url' src="{{ product.image.url }}">
                                        {% else %}
                                            <img id='product-image-url' src="https://picsum.photos/500/200">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="info-of-products">
                                    <div class="caption-of-products">
                                        <a id='product-name' href="{{ product.get_absolute_url }}">{{ product.name|capfirst|truncatechars_html:64 }}</a>
                                    </div>
                                    <ul class="info-list-of-products">
                                        {% for feature in product.features.all %}
                                        <li>{{ feature.name|capfirst }}: {{ feature.value }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="prices-of-products">
                                    <div class="flex-up">
                                        <a href="" id="add-to-favourites" class="btn btn-outline-secondary btn-instant-buy" data-id="{{ product.id }}" data-product-price="{{ product.price }}"></a>
                                        <a href="" id="add-to-cart" class="btn btn-warning btn-add-to-basket" data-id="{{ product.id }}" data-product-price="{{ product.price }}"></a>
                                    </div>

                                    <div class="flex-down">
                                        <div id='product-current-price' data-id="{{ product.id }}" class="price-of-products current-product-price">
                                            {{ product.price|floatformat:'0' }} p.</div>
                                        {% comment %}
                                        <div class="price-of-products-old"><s>{{ product.price|floatformat:"0" }} p.</s>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% empty %}
                <!-- блок, если товаров по поиску нет -->
                <div class="col-md-12">
                    <div class="empty-product-block">
                        <h1 class="caption-empty-product">К сожалению, товары по запросу не найдены</h1>

                        <p class="picture-empty-product">
                            <i class="far fa-frown"></i>
                        </p>
                    </div>
                </div>

                {% endfor %}
            </div>

        </div>

    </div>
</div>
{% endblock content %} {% block js %}
<script src="{% static 'js/product_list.js' %}"></script>
<script src="{% static 'js/dynamic_filter.js' %}" type="text/javascript"></script>
{% endblock js %} {% block auxiliary %}
<!-- HTML-код для рендера product-блоков после ajax-запросов -->
<div id="product-div-for-render-js" class="col-md-4 col-6">

    <div class="products-main-list">
        <div class="row no-gutters">
            <div class="col-md-12 col-xl-12">
                <div class="picture-of-products">
                    <!-- <badge class="badge-for-img-products">АКЦИЯ</badge> -->
                    <a id="product-image-abs-url" href=""><img id='product-image-url' src=""></a>
                </div>
            </div>

            <div class="col-md-12">
                <div class="info-of-products">
                    <div class="caption-of-products">
                        <a id='product-name' href="{{ product.get_absolute_url }}">{{ product.name|capfirst }}</a>
                    </div>
                    <p class="country-of-products">Россия</p>
                    <ul class="info-list-of-products">
                    </ul>
                </div>
            </div>

            <div class="col-md-12">
                <div class="prices-of-products">
                    <div class="flex-up">
                        <a href="#" class="btn btn-outline-secondary btn-instant-buy" data-id="{{ product.id }}" data-product-price="{{ product.price }}"></a>
                        <a href="#" class="btn btn-warning btn-add-to-basket" data-id="{{ product.id }}" data-product-price="{{ product.price }}"></a>
                    </div>

                    <div class="flex-down">
                        <div id='product-current-price' data-id="{{ product.id }}" class="price-of-products current-product-price"></div>
                        <div class="price-of-products-old"><s></s></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="load-error-div" class="col-md-12">
    <div class="empty-product-block">
        <h1 class="caption-empty-product">При загрузке данных произошла ошибка</h1>

        <p class="picture-empty-product">
            <i class="far fa-frown"></i>
        </p>
    </div>
</div>

<div id="products-not-found-div" class="col-md-12">
    <div class="empty-product-block">
        <h1 class="caption-empty-product">К сожалению, товары по запросу не найдены</h1>

        <p class="picture-empty-product">
            <i class="far fa-frown"></i>
        </p>
    </div>
</div>
{% endblock auxiliary %}