{% extends 'base.html' %} {% load static %} {% block title %}{{ product.name }}{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/product_detail-style.css' %}"> {% endblock css %} {% block content %}

<!-- main content -->
<div id="main-container-product">

    <!-- breadcrumbs -->
    <ul id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Все товары</a></li>
        <li class="breadcrumb-item active"><a href="#">Унитазы</a></li>
    </ul>

    <!-- caption of the product -->
    <h4 id="caption-product" data-id="{{ product.id }}">{{ product.name }}</h4>

    <!-- main row -->
    <div class="row-for-picture-and-details">
        <!-- main picture -->
        <div class="picture-area">
            <div id="carousel-picture" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="picture-of-the-product">
                            <div class="wrapper-for-the-picture">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}">
                                {% else %}
                                    <img src="{{ product.get_default_image_url }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% for image_obj in product.extra_images.all %}
                        <div class="carousel-item">
                            <div class="picture-of-the-product">
                                <div class="wrapper-for-the-picture">
                                    <img src="{{ image_obj.image.url }}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
                <a class="carousel-control-prev" href="#carousel-picture" role="button" data-slide="prev">
                    <ion-icon name="chevron-back-outline" class="new-icon-control"></ion-icon>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-picture" role="button" data-slide="next">
                    <ion-icon name="chevron-forward-outline" class="new-icon-control"></ion-icon>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="details-area">

            <div class="details-info-area">
                <div>Доступность:<span class="available-status">В наличии</span><span class="unvaliable-status">Нет в
                        наличии</span></div>
                <div>Самовывоз:<span class="colorful-span">Отсутствует</span></div>
                <div>До двери:<span class="colorful-span">300 р.</span></div>
                <div>До пункта ПВЗ:<span class="colorful-span">150 р.</span></div>
                <div>Гарантия:<span class="colorful-span">12 месяцев</span></div>
                <div>Артикул:<span class="colorful-span">123456789</span></div>
                <div>Бренд:<span class="colorful-span">Swahhh</span></div>
                <div>Коллекция:<span class="colorful-span">Хельсинки</span></div>
                <div>Страна:<span class="colorful-span">Россия</span></div>
                <div>Коллекция:<span class="colorful-span">Хельсинки</span></div>
                <div>Страна:<span class="colorful-span">Россия</span></div>
            </div>

            <div class="price-and-buttons-area">
                <div class="price-product">
                    16 999 p.
                </div>

                <div class="buttons-area">
                    <div class="first-buttons">
                        <a href="{% url 'cart:add_to_cart' %}?next={% url 'cart:cart_detail' %}" class="btn-instant-buy"><i class="far fa-heart"></i></a>
                        <a href="#" class="btn-compare"><i class="fas fa-balance-scale"></i>В сравнение</a>
                    </div>
                    <div class="second-buttons">
                        <a href="{% url 'cart:add_to_cart' %}" id='add_to_cart_link' type='submit' class="btn btn-warning btn-add-to-basket"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="picture-of-the-product">
                <div class="wrapper-for-the-picture">
                    <img id='product-picture-url' src="{{ product.get_public_image_url }}">
                </div>
                <div class="badge-for-img-product">
          АКЦИЯ
        </div>
            </div> -->

    <!-- small pictures -->
    <!-- <div class="pictures-of-the-product">
                {% for image_obj in product.images.all %}
                <div class="wrapper-for-small-pictures">
                    <img src="{{ image_obj.image.url }}">
                </div>
                {% endfor %}
            </div> -->


    <div class="row">
        <!-- all features -->
        <div class="col-md-12 col-xl-12">
            <ul class="nav nav-tabs" id="feature-and-desc" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="desc-tab" data-toggle="tab" href="#desc" role="tab" aria-controls="desc" aria-selected="true">Описание</a>
                </li>
                {% if product.features %}
                <li class="nav-item">
                    <a class="nav-link" id="feature-tab" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="false">Характеристики</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="feature-and-desc-content">

                <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab">
                    <div class="description-of-the-product">

                        <div class="desc-text">
                            {{ product.description|safe|default:'Описание отсутствует' }}
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="feature" role="tabpanel" aria-labelledby="feature-tab">
                    <div class="feature">
                        <h5 class="main-capture">Характеристики</h5>
                        <div class="row">
                            {% for feature in product.get_features %} {% ifchanged feature.header %} {% with feature.header as current_header %}
                            <div class="col-md-12 col-12">
                                <div class="features-area">
                                    <h6 class="capture-features">{{ current_header }}</h6>
                                    <div class="col-for-features-list">
                                        {% for feature in product.get_features %} {% if feature.header == current_header %}
                                        <div class="feature-item">
                                            <span class="feature-name">{{ feature.name }}</span>
                                            <span class="feature-dots"></span>
                                            <span class="feature-data">{{ feature.value }}</span>
                                        </div>
                                        {% endif %} {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endwith %} {% endifchanged %} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %} {% block js %}
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock js %}