<!-- templates/books/search_results.html -->
{% extends 'base.html' %}

{% block title %}Поиск по сайту{% endblock title %}
{% block content %}

<h1>Поиск по сайту: {{ user_query }}</h1>

    {% for product in search_result_list %}
        <div>
        <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
        <p>Author: {{ product.brand }}</p>
        <p>Price: $ {{ product.price }}</p>
        </div>
    {% empty %}
        <h3>К сожалению, по вашему запросу ничего не найдено.</h3>
    {% endfor %}

{% endblock content %}