{% extends "base.html" %}

{% load static %}

{% block title %}{{ page.title }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/shipping-style.css' %}">
{% endblock css %}

{% block content %}

<div id="main-container-about">

  <!-- breadcrumbs -->
  <ul id="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active"><a href="#">{{ page.name }}</a></li>
  </ul>

  {% comment %} <h3>Доставка</h3> {% endcomment %}
  <div class="main-info">
      {{ page.stream.render }}
  </div>
</div>

{% endblock content %}