{% extends "base.html" %} {% load static %} {% block title %}{% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/basket-style.css' %}"> {% endblock css %} {% block content %} {% if request.cart %}
<div id="main-container-basket">

    <!-- breadcrumbs -->
    <ul id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Все товары</a></li>
        <li class="breadcrumb-item active"><a href="#">Моя корзина</a></li>
    </ul>

    <!-- caption -->
    <h5>Моя корзина<span id="quantity-of-products">({{ request.cart|length }})</span></h5>

    <div class="row">


        <div class="col-md-12 col-lg-3 order-lg-last order-md-last order-last">
            <div class="col-for-total">
                <div class="row no-gutters">

                    <!-- coupons -->
                    <!-- <div class="col-lg-12 col-md-6">
            <div class="coupon-area">
              <div class="code-group">
                <label for="code-input">Купон на скидку или подарочная карта</label>
                <div class="input-group flex-nowrap">
                  <input id="code-input" class="code-coupon" type="text" />
                  <button class="use-coupon btn">
                    ПРИМЕНИТЬ
                  </button>
                </div>
              </div>
            </div>
          </div> -->

                    <!-- total -->
                    <div class="col-lg-12 col-md-12">
                        <div class="total-area">
                            <div class="total-info">
                                <span>Итого:</span>
                                <span id="cart-total-price" class="total-cost-in-total-area">{{ cart.get_total_price|floatformat:"0" }}
                                    p.</span>
                            </div>

                            <a href="{% url 'order:new_order' %}" class="btn btn-warning">Перейти к оформлению</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 order-lg-first order-md-fisrt order-first">

            {% for item in cart %} {% with item.product as product %}
            <!-- product one -->
            <div id="product-line-{{ product.id }}" class="cart-item">
                <div class="row align-items-center">

                    <!-- image block -->
                    <div class="col-lg-2 col-md-2 col-4">
                        <div class="wrapper-for-img-product">
                            <a href="{% url 'product_detail' product.id product.slug %}">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}"> 
                                {% else %}
                                    <img src="{{ product.get_default_image_url }}"> 
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <!-- info block -->
                    <div class="col-lg-10 col-md-10 col-8">
                        <div class="cart-info-product">
                            <div class="row">

                                <!-- name and price -->
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="cart-name-and-price">
                                        <div class="product-name">
                                            <a href="{{ product.get_absolute_url }}">{{ product.name|truncatechars_html:65 }}</a>
                                        </div>
                                        <div class="product-price">{{ item.total_price|floatformat:"0" }} p.</div>
                                    </div>
                                </div>

                                <!-- quantity and delete -->
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="cart-quantity-and-delete">

                                        <!-- quantity block -->
                                        <div class="quantity-block">
                                            <button class="quantity-minus" data-product-id="{{ product.id }}">
                                                <ion-icon class="new-icon-minus" name="remove-outline"></ion-icon>
                                            </button>

                                            <input type="text" class="window-quantity" data-product-id="{{ product.id }}" data-product-price="{{ item.price|floatformat:'0' }}" value="{{ item.quantity }}" readonly />


                                            <button class="quantity-plus" data-product-id="{{ product.id }}">
                                                <ion-icon class="new-icon-plus" name="add-outline"></ion-icon>
                                            </button>
                                        </div>

                                        <!-- delete btn -->
                                        <div class="delete-block">
                                            <button class="button-delete btn" data-product-id="{{ product.id }}" data-toggle="tooltip" data-placement="right" title="Удалить из корзины">
                                                <img src="{% static 'images/delete.png' %}">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %} {% endfor %}

        </div>
    </div>
</div>
</div>
{% else %}

<div id="main-container-basket" class="container">
    <!-- breadcrumbs -->
    <ul id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Все товары</a></li>
        <li class="breadcrumb-item active"><a href="#">Моя корзина</a></li>
    </ul>

    <div class="row">
        <div class="col-md-12">

            <div class="empty-basket-block">
                <h1 class="caption-empty-basket">В корзине пока нет товаров.</h1>

                <p class="picture-empty-basket"><i class="fas fa-shopping-basket"></i></p>
                <p class="text-empty-basket">Индивидуальный подбор товара по телефону (бесплатно по России):</p>
                <span class="tel-empty-basket">8 800 700 15 00</span>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock content %} {% block js %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock js %}