<div class="col-md-12">
    <div class="home-area">
        <h2>Хиты продаж</h2>
        <div class="row no-gutters">
            {% for block in block_content %}
                {% with block.product as product %}
                    <div class="col-md-3 col-6">
                        <div class="home-product">
        
                            <!-- picture -->
                            <div class="wrapper-img-for-home-product">
                                <a href="{{ product.get_absolute_url }}">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}">
                                    {% else %}
                                    <img src="{{ product.get_default_image_url }}">
                                    {% endif %}
                                </a>
                            </div>
        
                            <!-- name -->
                            <div class="name-for-home-product">
                                <div class="wrapper-name-for-home-product">
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                </div>
                            </div>
        
                            <!-- price -->
                            <div class="price-for-home-product">
        
                                <!-- price now -->
                                <span class="price-now-for-home-product">{{ product.price }} p.</span>
        
                                <!-- price old  -->
                                {% comment %} <span class="price-old-for-home-product"><s>17070 p.</s></span> {% endcomment %}
        
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>