<div id="carousel-home" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
        {% for block in block_content %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ block.image.url }}" class="d-block w-100">
            </div>
        {% endfor %}
    </div>
    
    {% if block_content|length > 1 %}
        <a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="sr-only">Next</span>
        </a>
    {% endif %}
</div>